---
import Layout from '../../../../layouts/Generic.astro';
import Costs from '../../../../components/seasons/ArenaCost.astro';
---

<Layout title='Max Equestrian - Mob Arena - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/mob-arena/' id='BZInD' slug='PCS6-MA-Max-Equestrian'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Max Equestrian</h2>
      <p>To initiate the creation of the Max Equestrian follow these requirements.<br/>The Mob Arena is located at the back of the Unlock Isles.</p>
      <div class="col justify-content-center">
        <img class="mob" src="/images/pixel-craft/season-6/mob-arena/max-equestrian/fight.png" alt="An image of the Max Equestrian.">
        <h3>Build Cost</h3>
        <div class="row justify-content-center">
          <Costs name='Sacrifical Livestock'>
            <li>5x Cow</li>
          </Costs>
          <Costs name='Caged Entities'>
            <li>Cell 1 | Empty</li>
            <li>Cell 2 | Empty</li>
            <li>Cell 3 | Empty</li>
            <li>Cell 4 | Empty</li>
            <li>Cell 5 | Empty</li>
            <li>Cell 6 | Empty</li>
            <li>Cell 7 | Empty</li>
            <li>Cell 8 | Empty</li>
            <li>Cell 9 | Empty</li>
            <li>Cell 10 | Empty</li>
            <li>Cell 11 | Empty</li>
            <li>Cell 12 | Empty</li>
            <li>Cell 13 | Empty</li>
            <li>Cell 14 | Empty</li>
            <li>Cell 15 | Empty</li>
            <li>Cell 16 | Empty</li>
            <li>Cell 17 | Empty</li>
            <li>Cell 18 | Empty</li>
            <li>Cell 19 | Empty</li>
            <li>Cell 20 | Empty</li>
            <li>Cell 21 | Empty</li>
            <li>Cell 22 | Empty</li>
          </Costs>
          <Costs name='Other Criteria'>
            <li>Time of Day | Any</li>
            <li>Lunar Event | Any</li>
          </Costs>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }

.mob {
  width: auto;
  height: 50%;
  border: 3px;
  border-style: double;
  border-color: gray;
  border-radius: 33px;
}
</style>