---
import Layout from '../../../../../layouts/Generic.astro';
import List from '../../../../../components/seasons/ItemLists.astro';
---

<Layout title="Cyan Shulker Box - Dragon's Breath - Item Combinations - Season #6 - Pixel Craft - Pixel Series" backPage='/pixel-craft/season-6/item-combinations/dragons-breath/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Dragon's Breath Cyan Shulker Box</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/item-combinations/dragons-breath/cyan_shulker_box.png" alt="An image of the contents of the Cyan Shulker Box for the Dragon's Breath.">
        <p>This is what is required for the Cyan Shulker Box in the Dragon's Breath item. A text list of what is in the Cyan Shulker Box.</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="1x Rabbit's Foot"
            item2="1x Rabbit's Foot"
            item3="1x Fermented Spider Eye"
            item4="1x Magma Cream"
            item5="1x Magma Cream"
            item6="1x Magma Cream"
            item7="1x Fermented Spider Eye"
            item8="1x Rabbit's Foot"
            item9="1x Rabbit's Foot"
          />
          <List
            title='Middle Row'
            item1="1x Sugar"
            item2="1x Phantom Membrane"
            item3="1x Sugar"
            item4="1x Sugar"
            item5="1x Phantom Membrane"
            item6="1x Sugar"
            item7="1x Sugar"
            item8="1x Phantom Membrane"
            item9="1x Sugar"
          />
          <List
            title='Bottom Row'
            item1="1x Gunpowder"
            item2="1x Gunpowder"
            item3="1x Glistering Melon Slice"
            item4="1x Glistering Melon Slice"
            item5="1x Gunpowder"
            item6="1x Glistering Melon Slice"
            item7="1x Glistering Melon Slice"
            item8="1x Gunpowder"
            item9="1x Gunpowder"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>