---
import Layout from '../../../../../../../layouts/Generic.astro';
import List from '../../../../../../../components/seasons/RecipeWorkingLists.astro';
---

<Layout title='Gordon - Miniatures - zackman1291 - Players - Custom Items - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/custom-items/' id='SjhDI' slug='PCS6-CI-P-ZM-M-Gordon'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Gordon Miniature</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/custom-items/players/zackman1291/miniatures/gordon.png" alt="An image of the recipe for the Gordon Miniature.">
        <p>This is what is required for the Gordon Miniature recipe.</p>
        <div class="row justify-content-center">
          <List
          item1="1x Block of Coal"
          item2="Empty"
          item3="1x Block of Coal"
          item4="1x Block of Copper"
          item5="1x Block of Gold"
          item6="1x Block of Copper"
          item7="1x Black Stained Glass Pane"
          item8="1x Redstone Dust"
          item9="1x Iron Hoe"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>