---
import Layout from '../../../../layouts/Layout.astro';
import Navigation from '../../../../components/Navigation.astro';
import Footer from '../../../../components/Footer.astro';
import ImageLinks from '../../../../components/ImageLinks.astro';
import Back from '../../../../components/Back.astro';
import Top from '../../../../components/Top.astro';
---

<Layout title="Blood Moon - Summoning Ritual - Season #6 - Pixel Craft - Pixel Series">
    <Navigation/>
    <Top/>
    <Back href="/pixel-craft/season-6/"/>
	<main class="container justify-content-center text-center space-bottom">
        <div class="row justify-content-center">
            <h1 class="primary-title">Pixel Craft Season #6</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col info text-center">
                <h2>Blood Moon Summoning Ritual</h2>
                <p>To summon a Blood Moon you must activate all of the Shreakers at the bottom of the pit and fill the barrels with the following items.</p>
                <p>The images can be clicked on for more information about the items in that go into the barrels. If any enchantments are mentioned they are in the order they are mentioned.</p>
                <div class="row justify-content-center">
                    <ImageLinks
                        href="/pixel-craft/season-6/summoning-rituals/blood-moon/floor-1/barrel-1/"
                        img="/images/pixel-craft/season-6/summoning-rituals/blood-moon/floor-1/barrel_1.png"
                        alt="An image of the contents of the 1st floor & 1st Barrel for the Blood Moon Summoning Ritual."
                        desc="This is what is required for the Southern Barrel on the 1st barrel floor to summon a Blood Moon."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/summoning-rituals/blood-moon/floor-1/barrel-2/"
                        img="/images/pixel-craft/season-6/summoning-rituals/blood-moon/floor-1/barrel_2.png"
                        alt="An image of the contents of the 1st floor & 2nd Barrel for the Blood Moon Summoning Ritual."
                        desc="This is what is required for the Eastern Barrel on the 1st barrel floor to summon a Blood Moon."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/summoning-rituals/blood-moon/floor-1/barrel-3/"
                        img="/images/pixel-craft/season-6/summoning-rituals/blood-moon/floor-1/barrel_3.png"
                        alt="An image of the contents of the 1st floor & 3rd Barrel for the Blood Moon Summoning Ritual."
                        desc="This is what is required for the Northern Barrel on the 1st barrel floor to summon a Blood Moon."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/summoning-rituals/blood-moon/floor-1/barrel-4/"
                        img="/images/pixel-craft/season-6/summoning-rituals/blood-moon/floor-1/barrel_4.png"
                        alt="An image of the contents of the 1st floor & 4th Barrel for the Blood Moon Summoning Ritual."
                        desc="This is what is required for the Western Barrel on the 1st barrel floor to summon a Blood Moon."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/summoning-rituals/blood-moon/floor-2/barrel-1/"
                        img="/images/pixel-craft/season-6/summoning-rituals/blood-moon/floor-2/barrel_1.png"
                        alt="An image of the contents of the 2nd floor & 1st Barrel for the Blood Moon Summoning Ritual."
                        desc="This is what is required for the Southern Barrel on the 2nd barrel floor to summon a Blood Moon."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/summoning-rituals/blood-moon/floor-2/barrel-2/"
                        img="/images/pixel-craft/season-6/summoning-rituals/blood-moon/floor-2/barrel_2.png"
                        alt="An image of the contents of the 2nd floor & 2nd Barrel for the Blood Moon Summoning Ritual."
                        desc="This is what is required for the Eastern Barrel on the 2nd barrel floor to summon a Blood Moon."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/summoning-rituals/blood-moon/floor-2/barrel-3/"
                        img="/images/pixel-craft/season-6/summoning-rituals/blood-moon/floor-2/barrel_3.png"
                        alt="An image of the contents of the 2nd floor & 3rd Barrel for the Blood Moon Summoning Ritual."
                        desc="This is what is required for the Northern Barrel on the 2nd barrel floor to summon a Blood Moon."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/summoning-rituals/blood-moon/floor-2/barrel-4/"
                        img="/images/pixel-craft/season-6/summoning-rituals/blood-moon/floor-2/barrel_4.png"
                        alt="An image of the contents of the 2nd floor & 4th Barrel for the Blood Moon Summoning Ritual."
                        desc="This is what is required for the Western Barrel on the 2nd barrel floor to summon a Blood Moon."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/summoning-rituals/blood-moon/floor-3/barrel-1/"
                        img="/images/pixel-craft/season-6/summoning-rituals/blood-moon/floor-3/barrel_1.png"
                        alt="An image of the contents of the 3rd floor & 1st Barrel for the Blood Moon Summoning Ritual."
                        desc="This is what is required for the Southern Barrel on the 3rd barrel floor to summon a Blood Moon."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/summoning-rituals/blood-moon/floor-3/barrel-2/"
                        img="/images/pixel-craft/season-6/summoning-rituals/blood-moon/floor-3/barrel_2.png"
                        alt="An image of the contents of the 3rd floor & 2nd Barrel for the Blood Moon Summoning Ritual."
                        desc="This is what is required for the Eastern Barrel on the 3rd barrel floor to summon a Blood Moon."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/summoning-rituals/blood-moon/floor-3/barrel-3/"
                        img="/images/pixel-craft/season-6/summoning-rituals/blood-moon/floor-3/barrel_3.png"
                        alt="An image of the contents of the 3rd floor & 3rd Barrel for the Blood Moon Summoning Ritual."
                        desc="This is what is required for the Northern Barrel on the 3rd barrel floor to summon a Blood Moon."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/summoning-rituals/blood-moon/floor-3/barrel-4/"
                        img="/images/pixel-craft/season-6/summoning-rituals/blood-moon/floor-3/barrel_4.png"
                        alt="An image of the contents of the 3rd floor & 4th Barrel for the Blood Moon Summoning Ritual."
                        desc="This is what is required for the Western Barrel on the 3rd barrel floor to summon a Blood Moon."
                    />
                </div>
            </div>
        </div>
	</main>
    <Footer/>
</Layout>

<style>
    .container {
        position: absolute;
        left: 12em;
        top: 0em;
        right: 0em;
        color: white;
        font-size: large;
    }
    .justify-content-center {
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .text-center {
        text-align: center!important;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .info {
        border: 3px;
        border-color: lightslategray;
        border-style: inset;
        border-radius: 25px;
        font-size: large;
        padding: 10px;
        margin: 5px;
        background-color: rgba(51, 51, 51, 0.5);
    }
    .space-bottom {
        padding-bottom: 3em;
    }
    .primary-title {
        border: 3px;
        border-color: lightslategray;
        border-style: groove;
        border-radius: 25px;
        padding: 10px;
        background-color: rgba(51, 51, 51, 0.5);
    }
</style>
