---
import Layout from '../../../../layouts/Generic.astro';
---

<Layout title='Thunder Storm - Summoning Rituals - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/summoning-rituals/' id='PHK7m' slug='PCS6-SR-Thunder-Storm'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Thunder Storm Summoning Ritual</h2>
      <p>To summon a Thunder Storm you must sacrifice a Nether Star to the center Sculk Shrieker.</p>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/summoning-rituals/thunder-storm/how_to.gif" alt="An image that shows how to do the Thunder Storm Summoning Ritual.">
        <p>This is what you are required to do in order to summon a Thunder Storm.</p>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>