---
import Layout from '../../../../../../layouts/Generic.astro';
import List from '../../../../../../components/seasons/RecipeWorkingLists.astro';
---

<Layout title='Aerie - Wild - Music Discs - Custom Items - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/custom-items/' id='EA82l' slug='PCS6-CI-MD-W-Aerie'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Music Disc Aerie</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/custom-items/music-discs/wild/aerie.png" alt="An image of the recipe for the Music Disc Aerie.">
        <p>This is what is required for the Music Disc Aerie recipe.</p>
        <div class="row justify-content-center">
          <List
            item1="1x Disc Fragment - Aerie"
            item2="1x Disc Fragment - Aerie"
            item3="1x Disc Fragment - Aerie"
            item4="1x Disc Fragment - Aerie"
            item5="1x Disc Fragment - Aerie"
            item6="1x Disc Fragment - Aerie"
            item7="1x Disc Fragment - Aerie"
            item8="1x Disc Fragment - Aerie"
            item9="1x Disc Fragment - Aerie"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>