.shelf {
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.stock {
    margin-left: 45%;
    margin-right: 45%;
    margin: 10px;
    width: 30%;
    padding: 10px;
    color: white;
    background: #33333377;
    border: 3px;
    border-color: #333333a2;
    border-style: dotted;
    border-radius: 50px;
}

.background {
    background: url(/assets/images/maps/vanilla/shop-prices/season-4/wapdonalds/background.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sizedown {
    height: 25px;
    width: auto;
}

.logo {
    height: 400px;
    width: auto;
}

.black {
    color: black;
}

.red {
    color: red;
}

.green {
    color: green;
}

.brown {
    color: brown;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

.cyan {
    color: cyan;
}

.lightgray {
    color: lightgray;
}

.gray {
    color: gray;
}

.pink {
    color: pink;
}

.lime {
    color: lime;
}

.yellow {
    color: yellow;
}

.lightblue {
    color: lightblue;
}

.magenta {
    color: magenta;
}

.orange {
    color: orange;
}

.white {
    color: white;
}