---
import Layout from '../../../../layouts/Generic.astro';
import Image from '../../../../components/seasons/ImageLinks.astro';
---

<Layout title='Gold Transmutation - Item Combinations - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/item-combinations/' id='TTzTx' slug='PCS6-IC-Gold-Transmutation'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Gold Transmutation Item Combination</h2>
      <p>To create the Gold Transmutation item for the unlock rituals.</p>
      <p>The images can be clicked on for more information about the items in that go into the barrels. If any enchantments are mentioned they are in the order they are mentioned.</p>
      <div class="row justify-content-center">
        <Image
          href='/pixel-craft/season-6/item-combinations/gold-transmutation/floor-barrel/'
          img='/images/pixel-craft/season-6/item-combinations/gold-transmutation/floor_barrel.png'
          alt='An image of the contents of the floor barrel to create the Gold Transmutation.'
          desc='This is what is required for the floor barrel to create the Gold Transmutation.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/gold-transmutation/roof-barrel/'
          img='/images/pixel-craft/season-6/item-combinations/gold-transmutation/roof_barrel.png'
          alt='An image of the contents of the roof barrel to create the Gold Transmutation.'
          desc='This is what is required for the roof barrel to create the Gold Transmutation.'
        />
      </div>
      <div class="row justify-content-center">
        <Image
          href='/pixel-craft/season-6/item-combinations/gold-transmutation/red-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/gold-transmutation/red_shulker_box.png'
          alt='An image of the contents of the red shulker box to create the Gold Transmutation.'
          desc='This is what is required for the red shulker box to create the Gold Transmutation.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/gold-transmutation/green-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/gold-transmutation/green_shulker_box.png'
          alt='An image of the contents of the green shulker box to create the Gold Transmutation.'
          desc='This is what is required for the green shulker box to create the Gold Transmutation.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/gold-transmutation/blue-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/gold-transmutation/blue_shulker_box.png'
          alt='An image of the contents of the blue shulker box to create the Gold Transmutation.'
          desc='This is what is required for the blue shulker box to create the Gold Transmutation.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/gold-transmutation/purple-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/gold-transmutation/purple_shulker_box.png'
          alt='An image of the contents of the purple shulker box to create the Gold Transmutation.'
          desc='This is what is required for the purple shulker box to create the Gold Transmutation.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/gold-transmutation/cyan-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/gold-transmutation/cyan_shulker_box.png'
          alt='An image of the contents of the cyan shulker box to create the Gold Transmutation.'
          desc='This is what is required for the cyan shulker box to create the Gold Transmutation.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/gold-transmutation/magenta-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/gold-transmutation/magenta_shulker_box.png'
          alt='An image of the contents of the magenta shulker box to create the Gold Transmutation.'
          desc='This is what is required for the magenta shulker box to create the Gold Transmutation.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/gold-transmutation/yellow-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/gold-transmutation/yellow_shulker_box.png'
          alt='An image of the contents of the yellow shulker box to create the Gold Transmutation.'
          desc='This is what is required for the yellow shulker box to create the Gold Transmutation.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/gold-transmutation/orange-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/gold-transmutation/orange_shulker_box.png'
          alt='An image of the contents of the orange shulker box to create the Gold Transmutation.'
          desc='This is what is required for the orange shulker box to create the Gold Transmutation.'
        />
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>