---
import Layout from '../../../../layouts/Layout.astro';
import Navigation from '../../../../components/Navigation.astro';
import Footer from '../../../../components/Footer.astro';
import ImageLinks from '../../../../components/ImageLinks.astro';
import Back from '../../../../components/Back.astro';
import Top from '../../../../components/Top.astro';
---

<Layout title="Master Aquatic Foliage - Item Combinations - Season #6 - Pixel Craft - Pixel Series">
    <Navigation/>
    <Top/>
    <Back href="/pixel-craft/season-6/item-combinations/"/>
	<main class="container justify-content-center text-center space-bottom">
        <div class="row justify-content-center">
            <h1 class="primary-title">Pixel Craft Season #6</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col info text-center">
                <h2>Master Aquatic Foliage Item Combination</h2>
                <p>To create the Master Aquatic Foliage item for the unlock rituals.</p>
                <p>The images can be clicked on for more information about the items in that go into the barrels. If any enchantments are mentioned they are in the order they are mentioned.</p>
                <div class="row justify-content-center">
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-aquatic-foliage/floor-barrel/"
                        img="/images/pixel-craft/season-6/item-combinations/master-aquatic-foliage/floor_barrel.png"
                        alt="An image of the contents of the floor barrel to create the Master Aquatic Foliage."
                        desc="This is what is required for the floor barrel to create the Master Aquatic Foliage."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-aquatic-foliage/roof-barrel/"
                        img="/images/pixel-craft/season-6/item-combinations/master-aquatic-foliage/roof_barrel.png"
                        alt="An image of the contents of the roof barrel to create the Master Aquatic Foliage."
                        desc="This is what is required for the roof barrel to create the Master Aquatic Foliage."
                    />
                </div>
                <div class="row justify-content-center">
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-aquatic-foliage/red-shulker-box/"
                        img="/images/pixel-craft/season-6/item-combinations/master-aquatic-foliage/red_shulker_box.png"
                        alt="An image of the contents of the red shulker box to create the Master Aquatic Foliage."
                        desc="This is what is required for the red shulker box to create the Master Aquatic Foliage."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-aquatic-foliage/green-shulker-box/"
                        img="/images/pixel-craft/season-6/item-combinations/master-aquatic-foliage/green_shulker_box.png"
                        alt="An image of the contents of the green shulker box to create the Master Aquatic Foliage."
                        desc="This is what is required for the green shulker box to create the Master Aquatic Foliage."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-aquatic-foliage/blue-shulker-box/"
                        img="/images/pixel-craft/season-6/item-combinations/master-aquatic-foliage/blue_shulker_box.png"
                        alt="An image of the contents of the blue shulker box to create the Master Aquatic Foliage."
                        desc="This is what is required for the blue shulker box to create the Master Aquatic Foliage."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-aquatic-foliage/purple-shulker-box/"
                        img="/images/pixel-craft/season-6/item-combinations/master-aquatic-foliage/purple_shulker_box.png"
                        alt="An image of the contents of the purple shulker box to create the Master Aquatic Foliage."
                        desc="This is what is required for the purple shulker box to create the Master Aquatic Foliage."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-aquatic-foliage/cyan-shulker-box/"
                        img="/images/pixel-craft/season-6/item-combinations/master-aquatic-foliage/cyan_shulker_box.png"
                        alt="An image of the contents of the cyan shulker box to create the Master Aquatic Foliage."
                        desc="This is what is required for the cyan shulker box to create the Master Aquatic Foliage."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-aquatic-foliage/magenta-shulker-box/"
                        img="/images/pixel-craft/season-6/item-combinations/master-aquatic-foliage/magenta_shulker_box.png"
                        alt="An image of the contents of the magenta shulker box to create the Master Aquatic Foliage."
                        desc="This is what is required for the magenta shulker box to create the Master Aquatic Foliage."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-aquatic-foliage/yellow-shulker-box/"
                        img="/images/pixel-craft/season-6/item-combinations/master-aquatic-foliage/yellow_shulker_box.png"
                        alt="An image of the contents of the yellow shulker box to create the Master Aquatic Foliage."
                        desc="This is what is required for the yellow shulker box to create the Master Aquatic Foliage."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-aquatic-foliage/orange-shulker-box/"
                        img="/images/pixel-craft/season-6/item-combinations/master-aquatic-foliage/orange_shulker_box.png"
                        alt="An image of the contents of the orange shulker box to create the Master Aquatic Foliage."
                        desc="This is what is required for the orange shulker box to create the Master Aquatic Foliage."
                    />
                </div>
            </div>
        </div>
	</main>
    <Footer/>
</Layout>

<style>
    .container {
        position: absolute;
        left: 12em;
        top: 0em;
        right: 0em;
        color: white;
        font-size: large;
    }
    .justify-content-center {
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .text-center {
        text-align: center!important;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .info {
        border: 3px;
        border-color: lightslategray;
        border-style: inset;
        border-radius: 25px;
        font-size: large;
        padding: 10px;
        margin: 5px;
        background-color: rgba(51, 51, 51, 0.5);
    }
    .space-bottom {
        padding-bottom: 3em;
    }
    .primary-title {
        border: 3px;
        border-color: lightslategray;
        border-style: groove;
        border-radius: 25px;
        padding: 10px;
        background-color: rgba(51, 51, 51, 0.5);
    }
</style>
