---
import Layout from '../../../../layouts/Generic.astro';
import Image from '../../../../components/seasons/ImageLinks.astro';
---

<Layout title='Shulker Boxs - Item Combinations - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/item-combinations/' id='CqFkx' slug='PCS6-IC-Shulker-Boxs'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Shulker Boxs Item Combination</h2>
      <p>To create the Shulker Boxs item for the unlock rituals.</p>
      <p>The images can be clicked on for more information about the items in that go into the barrels. If any enchantments are mentioned they are in the order they are mentioned.</p>
      <div class="row justify-content-center">
        <Image
          href='/pixel-craft/season-6/item-combinations/shulker-boxs/floor-barrel/'
          img='/images/pixel-craft/season-6/item-combinations/shulker-boxs/floor_barrel.png'
          alt='An image of the contents of the floor barrel to create the Shulker Boxs.'
          desc='This is what is required for the floor barrel to create the Shulker Boxs.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/shulker-boxs/roof-barrel/'
          img='/images/pixel-craft/season-6/item-combinations/shulker-boxs/roof_barrel.png'
          alt='An image of the contents of the roof barrel to create the Shulker Boxs.'
          desc='This is what is required for the roof barrel to create the Shulker Boxs.'
        />
      </div>
      <div class="row justify-content-center">
        <Image
          href='/pixel-craft/season-6/item-combinations/shulker-boxs/red-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/shulker-boxs/red_shulker_box.png'
          alt='An image of the contents of the red shulker box to create the Shulker Boxs.'
          desc='This is what is required for the red shulker box to create the Shulker Boxs.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/shulker-boxs/green-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/shulker-boxs/green_shulker_box.png'
          alt='An image of the contents of the green shulker box to create the Shulker Boxs.'
          desc='This is what is required for the green shulker box to create the Shulker Boxs.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/shulker-boxs/blue-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/shulker-boxs/blue_shulker_box.png'
          alt='An image of the contents of the blue shulker box to create the Shulker Boxs.'
          desc='This is what is required for the blue shulker box to create the Shulker Boxs.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/shulker-boxs/purple-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/shulker-boxs/purple_shulker_box.png'
          alt='An image of the contents of the purple shulker box to create the Shulker Boxs.'
          desc='This is what is required for the purple shulker box to create the Shulker Boxs.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/shulker-boxs/cyan-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/shulker-boxs/cyan_shulker_box.png'
          alt='An image of the contents of the cyan shulker box to create the Shulker Boxs.'
          desc='This is what is required for the cyan shulker box to create the Shulker Boxs.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/shulker-boxs/magenta-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/shulker-boxs/magenta_shulker_box.png'
          alt='An image of the contents of the magenta shulker box to create the Shulker Boxs.'
          desc='This is what is required for the magenta shulker box to create the Shulker Boxs.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/shulker-boxs/yellow-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/shulker-boxs/yellow_shulker_box.png'
          alt='An image of the contents of the yellow shulker box to create the Shulker Boxs.'
          desc='This is what is required for the yellow shulker box to create the Shulker Boxs.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/shulker-boxs/orange-shulker-box/'
          img='/images/pixel-craft/season-6/item-combinations/shulker-boxs/orange_shulker_box.png'
          alt='An image of the contents of the orange shulker box to create the Shulker Boxs.'
          desc='This is what is required for the orange shulker box to create the Shulker Boxs.'
        />
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>