---
import Layout from '../../../../../layouts/Generic.astro';
import List from '../../../../../components/seasons/ItemLists.astro';
---

<Layout title='Purple Shulker Box - Warped Nylium - Item Combinations - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/item-combinations/warped-nylium/' id='QZJ1G' slug='PCS6-IC-WN-Purple-Shulker-Box'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Warped Nylium Purple Shulker Box</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/item-combinations/warped-nylium/purple_shulker_box.png" alt="An image of the contents of the Purple Shulker Box for the Warped Nylium.">
        <p>This is what is required for the Purple Shulker Box in the Warped Nylium item. A text list of what is in the Purple Shulker Box.</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="1x Brown Mushroom Block"
            item2="1x Glistering Melon Slice"
            item3="Empty"
            item4="1x Cobweb"
            item5="1x Blaze Powder"
            item6="1x Cobweb"
            item7="Empty"
            item8="1x Glistering Melon Slice"
            item9="1x Brown Mushroom Block"
          />
          <List
            title='Middle Row'
            item1="1x Bone Block"
            item2="1x Ender Pearl"
            item3="1x Eye of Ender"
            item4="1x Ender Pearl"
            item5="1x Mycelium"
            item6="1x Ender Pearl"
            item7="1x Eye of Ender"
            item8="1x Ender Pearl"
            item9="1x Bone Block"
          />
          <List
            title='Bottom Row'
            item1="1x Brown Mushroom Block"
            item2="1x Glistering Melon Slice"
            item3="Empty"
            item4="1x Cobweb"
            item5="1x Blaze Powder"
            item6="1x Cobweb"
            item7="Empty"
            item8="1x Glistering Melon Slice"
            item9="1x Brown Mushroom Block"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>