---
import Layout from '../../../layouts/Generic.astro';
import Image from '../../../components/seasons/ImageLinks.astro';
---

<Layout title='Build Plates - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/' id='Jh18x' slug='PCS6-Build-Plates'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2 id="BaseTitle" title="aHR0cHM6Ly9jZG4ucm9lYnVjay5kZXYvdS8j">Build Plates</h2>
      <p>This is a list of all the differnt <span id="PartialDecryption" title="RFC 3548, RFC 4648">Build Plates</span> that can be done on the Unlock Isles.</p>
      <div class="row justify-content-center">
        <Image
          href='/pixel-craft/season-6/build-plates/unconfigured-map-art-portal-blueprint/'
          img='/images/pixel-craft/season-6/build-plates/unconfigured_map_art_portal_blueprint.png'
          alt='An image of the requirments of the Unconfigured Map Art Portal Blueprint.'
          desc='This is what is required to make the Unconfigured Map Art Portal Blueprint.'
        />
        <Image
          href='/pixel-craft/season-6/build-plates/ocean-ruins-warm/'
          img='/images/pixel-craft/season-6/build-plates/ocean_ruins_warm.png'
          alt='An image of the requirments of the Warm Ocean Ruins.'
          desc='This is what is required to make the Warm Ocean Ruins.'
        />
        <Image
          href='/pixel-craft/season-6/build-plates/ocean-ruins-cold/'
          img='/images/pixel-craft/season-6/build-plates/ocean_ruins_cold.png'
          alt='An image of the requirments of the Cold Ocean Ruins.'
          desc='This is what is required to make the Cold Ocean Ruins.'
        />
        <Image
          href='/pixel-craft/season-6/build-plates/ocean-monument/'
          img='/images/pixel-craft/season-6/build-plates/ocean_monument.png'
          alt='An image of the requirments of the Ocean Monument.'
          desc='This is what is required to make the Ocean Monument.'
        />
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>