---
import Layout from '../../../layouts/Generic.astro';
import Image from '../../../components/seasons/ImageLinks.astro';
---

<Layout title='Item Combinations - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/' id='nfUvb' slug='PCS6-Item-Combinations'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Item Combinations</h2>
      <p>This is a list of all the differnt Item Combiantions that can be done on the Unlock Isles.</p>
      <div class="row justify-content-center">
        <Image
          href='/pixel-craft/season-6/item-combinations/master-dye/'
          img='/images/pixel-craft/season-6/item-combinations/master_dye.png'
          alt='An image of the requirments of the Master Dye.'
          desc='This is what is required to make the Master Dye.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/master-wool/'
          img='/images/pixel-craft/season-6/item-combinations/master_wool.png'
          alt='An image of the requirments of the Master Wool.'
          desc='This is what is required to make the Master Wool.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/master-stained-glass/'
          img='/images/pixel-craft/season-6/item-combinations/master_stained_glass.png'
          alt='An image of the requirments of the Master Stained Glass.'
          desc='This is what is required to make the Master Stained Glass.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/master-terracotta/'
          img='/images/pixel-craft/season-6/item-combinations/master_terracotta.png'
          alt='An image of the requirments of the Master Terracotta.'
          desc='This is what is required to make the Master Terracotta.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/master-concrete/'
          img='/images/pixel-craft/season-6/item-combinations/master_concrete.png'
          alt='An image of the requirments of the Master Concrete.'
          desc='This is what is required to make the Master Concrete.'
        />
      </div>
      <div class="row justify-content-center">
        <Image
          href='/pixel-craft/season-6/item-combinations/master-flowers/'
          img='/images/pixel-craft/season-6/item-combinations/master_flowers.png'
          alt='An image of the requirments of the Master Flowers.'
          desc='This is what is required to make the Master Flowers.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/master-crops/'
          img='/images/pixel-craft/season-6/item-combinations/master_crops.png'
          alt='An image of the requirments of the Master Crops.'
          desc='This is what is required to make the Master Crops.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/master-aquatic-foliage/'
          img='/images/pixel-craft/season-6/item-combinations/master_aquatic_foliage.png'
          alt='An image of the requirments of the Master Aquatic Foliage.'
          desc='This is what is required to make the Master Aquatic Foliage.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/master-miscellaneous-foliage/'
          img='/images/pixel-craft/season-6/item-combinations/master_miscellaneous_foliage.png'
          alt='An image of the requirments of the Master Miscellaneous Foliage.'
          desc='This is what is required to make the Master Miscellaneous Foliage.'
        />
      </div>
      <div class="row justify-content-center">
        <Image
          href='/pixel-craft/season-6/item-combinations/blaze-rods/'
          img='/images/pixel-craft/season-6/item-combinations/blaze_rods.png'
          alt='An image of the requirments of the Blaze Rods.'
          desc='This is what is required to make the Blaze Rods.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/heart-of-the-sea/'
          img='/images/pixel-craft/season-6/item-combinations/heart_of_the_sea.png'
          alt='An image of the requirments of the Heart of the Sea.'
          desc='This is what is required to make the Heart of the Sea.'
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/dragons-breath/'
          img='/images/pixel-craft/season-6/item-combinations/dragons_breath.png'
          alt="An image of the requirments of the Dragon's Breath."
          desc="This is what is required to make the Dragon's Breath."
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/xp-bottles/'
          img='/images/pixel-craft/season-6/item-combinations/xp_bottles.png'
          alt="An image of the requirments of the XP Bottles."
          desc="This is what is required to make the XP Bottles."
        />
      </div>
      <div class="row justify-content-center">
        <Image
          href='/pixel-craft/season-6/item-combinations/personal-map-art-portal/'
          img='/images/pixel-craft/season-6/item-combinations/personal_map_art_portal.png'
          alt="An image of the requirments of the Personal Map Art Portal."
          desc="This is what is required to make the Personal Map Art Portal."
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/gold-transmutation/'
          img='/images/pixel-craft/season-6/item-combinations/gold_transmutation.png'
          alt="An image of the requirments of the Gold Transmutation."
          desc="This is what is required to make the Gold Transmutation."
        />
        <Image
          href='/pixel-craft/season-6/item-combinations/lapis-transmutation/'
          img='/images/pixel-craft/season-6/item-combinations/lapis_transmutation.png'
          alt="An image of the requirments of the Lapis Transmutation."
          desc="This is what is required to make the Lapis Transmutation."
        />
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>