---
import Layout from '../../../layouts/Layout.astro';
import Navigation from '../../../components/Navigation.astro';
import Footer from '../../../components/Footer.astro';
import ImageLinks from '../../../components/ImageLinks.astro';
import Back from '../../../components/Back.astro';
import Top from '../../../components/Top.astro';
---

<Layout title="Item Combinations - Season #6 - Pixel Craft - Pixel Series">
    <Navigation/>
    <Top/>
    <Back href="/pixel-craft/season-6/"/>
	<main class="container justify-content-center text-center space-bottom">
        <div class="row justify-content-center">
            <h1 class="primary-title">Pixel Craft Season #6</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col info text-center">
                <h2>Item Combinations</h2>
                <p>This is a list of all the differnt Item Combiantions that can be done on the Unlock Isles.</p>
                <div class="row justify-content-center">
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-dye/"
                        img="/images/pixel-craft/season-6/item-combinations/master_dye.png"
                        alt="An image of the requirments of the Master Dye."
                        desc="This is what is required to make the Master Dye."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-wool/"
                        img="/images/pixel-craft/season-6/item-combinations/master_wool.png"
                        alt="An image of the requirments of the Master Wool."
                        desc="This is what is required to make the Master Wool."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-stained-glass/"
                        img="/images/pixel-craft/season-6/item-combinations/master_stained_glass.png"
                        alt="An image of the requirments of the Master Stained Glass."
                        desc="This is what is required to make the Master Stained Glass."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-terracotta/"
                        img="/images/pixel-craft/season-6/item-combinations/master_terracotta.png"
                        alt="An image of the requirments of the Master Terracotta."
                        desc="This is what is required to make the Master Terracotta."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-concrete/"
                        img="/images/pixel-craft/season-6/item-combinations/master_concrete.png"
                        alt="An image of the requirments of the Master Concrete."
                        desc="This is what is required to make the Master Concrete."
                    />
                </div>
                <div class="row justify-content-center">
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-flowers/"
                        img="/images/pixel-craft/season-6/item-combinations/master_flowers.png"
                        alt="An image of the requirments of the Master Flowers."
                        desc="This is what is required to make the Master Flowers."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-crops/"
                        img="/images/pixel-craft/season-6/item-combinations/master_crops.png"
                        alt="An image of the requirments of the Master Crops."
                        desc="This is what is required to make the Master Crops."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-aquatic-foliage/"
                        img="/images/pixel-craft/season-6/item-combinations/master_aquatic_foliage.png"
                        alt="An image of the requirments of the Master Aquatic Foliage."
                        desc="This is what is required to make the Master aquatic Foliage."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/master-miscellaneous-foliage/"
                        img="/images/pixel-craft/season-6/item-combinations/master_miscellaneous_foliage.png"
                        alt="An image of the requirments of the Master Miscellaneous Foliage."
                        desc="This is what is required to make the Master Miscellaneous Foliage."
                    />
                </div>
                <div class="row justify-content-center">
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/blaze-rods/"
                        img="/images/pixel-craft/season-6/item-combinations/blaze_rods.png"
                        alt="An image of the requirments of the Blaze Rods."
                        desc="This is what is required to make the Blaze Rods."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/heart-of-the-sea/"
                        img="/images/pixel-craft/season-6/item-combinations/heart_of_the_sea.png"
                        alt="An image of the requirments of the Heart of the Sea."
                        desc="This is what is required to make the Heart of the Sea."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/item-combinations/dragons-breath/"
                        img="/images/pixel-craft/season-6/item-combinations/dragons_breath.png"
                        alt="An image of the requirments of the Dragon's Breath."
                        desc="This is what is required to make the Dragon's Breath."
                    />
                </div>
            </div>
        </div>
	</main>
    <Footer/>
</Layout>

<style>
    .container {
        position: absolute;
        left: 12em;
        top: 0em;
        right: 0em;
        color: white;
        font-size: large;
    }
    .justify-content-center {
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .text-center {
        text-align: center!important;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .info {
        border: 3px;
        border-color: lightslategray;
        border-style: inset;
        border-radius: 25px;
        font-size: large;
        padding: 10px;
        margin: 5px;
        background-color: rgba(51, 51, 51, 0.5);
    }
    .space-bottom {
        padding-bottom: 3em;
    }
    .primary-title {
        border: 3px;
        border-color: lightslategray;
        border-style: groove;
        border-radius: 25px;
        padding: 10px;
        background-color: rgba(51, 51, 51, 0.5);
    }
</style>
