---
import Layout from '../../../layouts/Generic.astro';
import Image from '../../../components/seasons/ImageLinks.astro';
---

<Layout title='Mob Arena - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/' id='LB8jn' slug='PCS6-Mob-Arena'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Mob Arena</h2>
      <p>This is a list of all the differnt Mob Arena that can be done on the Unlock Isles.</p>
      <div class="row justify-content-center">
        <Image
          href='/pixel-craft/season-6/mob-arena/king-drowned/'
          img='/images/pixel-craft/season-6/mob-arena/king_drowned.png'
          alt='An image of the requirments of the King Drowned fight.'
          desc='This is what is required to make the King Drowned fight.'
        />
        <Image
          href='/pixel-craft/season-6/mob-arena/diamond-bowman/'
          img='/images/pixel-craft/season-6/mob-arena/diamond_bowman.png'
          alt='An image of the requirments of the Diamond Bowman fight.'
          desc='This is what is required to make the Diamond Bowman fight.'
        />
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>