---
import Layout from '../../../layouts/Layout.astro';
import Navigation from '../../../components/Navigation.astro';
import Footer from '../../../components/Footer.astro';
import ImageLinks from '../../../components/ImageLinks.astro';
import Back from '../../../components/Back.astro';
import Top from '../../../components/Top.astro';
---

<Layout title="Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series">
    <Navigation/>
    <Top/>
    <Back href="/pixel-craft/season-6/"/>
	<main class="container justify-content-center text-center space-bottom">
        <div class="row justify-content-center">
            <h1 class="primary-title">Pixel Craft Season #6</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col info text-center">
                <h2>Shulker Box Advancements</h2>
                <p>The images can be clicked on for more information about the items in the shulker boxes. If any enchantments are mentioned they are in the order they are mentioned.</p>
                <div class="row justify-content-center">
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/redstone-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/redstone_box.png"
                        alt="An image of the contents of the Redstone Box Advancment."
                        desc="This is what is required for the Redstone Box Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/build-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/build_box.png"
                        alt="An image of the contents of the Build Box Advancment."
                        desc="This is what is required for the Build Box Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/wood-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/wood_box.png"
                        alt="An image of the contents of the Wood Box Advancment."
                        desc="This is what is required for the Wood Box Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/vegetation-box-1/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/vegetation_box_1.png"
                        alt="An image of the contents of the Vegetation Box 1 Advancment."
                        desc="This is what is required for the Vegetation Box 1 Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/vegetation-box-2/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/vegetation_box_2.png"
                        alt="An image of the contents of the Vegetation Box 2 Advancment."
                        desc="This is what is required for the Vegetation Box 2 Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/sea-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/sea_box.png"
                        alt="An image of the contents of the Sea Box Advancment."
                        desc="This is what is required for the Sea Box Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/stone-box-1/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/stone_box_1.png"
                        alt="An image of the contents of the Stone Box 1 Advancment."
                        desc="This is what is required for the Stone Box 1 Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/stone-box-2/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/stone_box_2.png"
                        alt="An image of the contents of the Stone Box 2 Advancment."
                        desc="This is what is required for the Stone Box 2 Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/crop-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/crop_box.png"
                        alt="An image of the contents of the Crop Box Advancment."
                        desc="This is what is required for the Crop Box Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/food-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/food_box.png"
                        alt="An image of the contents of the Food Box Advancment."
                        desc="This is what is required for the Food Box Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/drinking-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/drinking_box.png"
                        alt="An image of the contents of the Drinking Box Advancment."
                        desc="This is what is required for the Drinking Box Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/splashing-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/splashing_box.png"
                        alt="An image of the contents of the Splashing Box Advancment."
                        desc="This is what is required for the Splashing Box Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/lingering-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/lingering_box.png"
                        alt="An image of the contents of the Lingering Box Advancment."
                        desc="This is what is required for the Lingering Box Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/tool-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/tool_box.png"
                        alt="An image of the contents of the Tool Box Advancment."
                        desc="This is what is required for the Tool Box Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/battle-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/battle_box.png"
                        alt="An image of the contents of the Battle Box Advancment."
                        desc="This is what is required for the Battle Box Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/shulker-shulker-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/shulker_shulker_box.png"
                        alt="An image of the contents of the Shulker Shulker Box Advancment."
                        desc="This is what is required for the Shulker Shulker Box Advancement."
                    />
                    <ImageLinks
                        href="/pixel-craft/season-6/shulker-box-advancements/beacon-box/"
                        img="/images/pixel-craft/season-6/shulker-box-advancements/beacon_box.png"
                        alt="An image of the contents of the Beacon Box Advancment."
                        desc="This is what is required for the Beacon Box Advancement."
                    />
                </div>
            </div>
        </div>
	</main>
    <Footer/>
</Layout>

<style>
    .container {
        position: absolute;
        left: 12em;
        top: 0em;
        right: 0em;
        color: white;
        font-size: large;
    }
    .justify-content-center {
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .text-center {
        text-align: center!important;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .info {
        border: 3px;
        border-color: lightslategray;
        border-style: inset;
        border-radius: 25px;
        font-size: large;
        padding: 10px;
        margin: 5px;
        background-color: rgba(51, 51, 51, 0.5);
    }
    .space-bottom {
        padding-bottom: 3em;
    }
    .primary-title {
        border: 3px;
        border-color: lightslategray;
        border-style: groove;
        border-radius: 25px;
        padding: 10px;
        background-color: rgba(51, 51, 51, 0.5);
    }
</style>
