---
import Layout from '../../../layouts/Generic.astro';
import Image from '../../../components/seasons/ImageLinks.astro';
---

<Layout title='Summoning Rituals - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Summoning Rituals</h2>
      <p>This is a list of all the different Summoning Rituas that can be done on the Unlock Isles.</p>
      <div class="row justify-content-center">
        <Image
          href='/pixel-craft/season-6/summoning-rituals/blood-moon/'
          img='/images/pixel-craft/season-6/summoning-rituals/blood_moon.png'
          alt='Images of the requirments for the Blood Moon summoning ritual.'
          desc='This is what is required to summon a Blood Moon.'
        />
        <Image
          href='/pixel-craft/season-6/summoning-rituals/harvest-moon/'
          img='/images/pixel-craft/season-6/summoning-rituals/harvest_moon.png'
          alt='Images of the requirments for the Harvest Moon summoning ritual.'
          desc='This is what is required to summon a Harvest Moon.'
        />
        <Image
          href='/pixel-craft/season-6/summoning-rituals/blue-moon/'
          img='/images/pixel-craft/season-6/summoning-rituals/blue_moon.png'
          alt='Images of the requirments for the Blue Moon summoning ritual.'
          desc='This is what is required to summon a Blue Moon.'
        />
        <Image
          href='/pixel-craft/season-6/summoning-rituals/thuner-storm/'
          img='/images/pixel-craft/season-6/summoning-rituals/thunder_storm.png'
          alt='Images of the requirments for the Thunder Storm summoning ritual.'
          desc='This is what is required to summon a Thunder Storm.'
        />
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>