---
import Layout from '../../../../../../layouts/Generic.astro';
import List from '../../../../../../components/seasons/ItemLists.astro';
---

<Layout title='Barrel #2 - Floor #3 - Blue Moon - Summoning Rituals - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/summoning-rituals/blue-moon/' id='1XVgZ' slug='PCS6-SR-BUM-F3-Barrel-2'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Blue Moon Summoning Ritual</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/summoning-rituals/blue-moon/floor-3/barrel_2.png" alt="An image of the contents of the 3rd floor & 2nd Barrel for the Blue Moon Summoning Ritual.">
        <p>This is what is required for the Southern Barrel on the 3rd barrel floor to summon a Blue Moon.</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="Empty"
            item2="Empty"
            item3="Empty"
            item4="Empty"
            item5="Empty"
            item6="Empty"
            item7="Empty"
            item8="Empty"
            item9="Empty"
          />
          <List
            title='Middle Row'
            item1="Empty"
            item2="Empty"
            item3="1x Firework Rocket"
            item4="Empty"
            item5="1x Minecart"
            item6="Empty"
            item7="1x Firework Rocket"
            item8="Empty"
            item9="Empty"
          />
          <List
            title='Bottom Row'
            item1="Empty"
            item2="Empty"
            item3="Empty"
            item4="Empty"
            item5="Empty"
            item6="Empty"
            item7="Empty"
            item8="Empty"
            item9="Empty"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>