---
import Layout from '../../layouts/Generic.astro';
---

<Layout title='Season #2 - Pixel Craft - Pixel Series' backPage='/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #2</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col info text-center">
      <h2>Info</h2>
      <p>Season #2 of Pixel Craft this season we were a bit more active and yet we still have the lack of motivation with only a few people on at some points. There are some cool things around the world that you can go and look at in the world download.</p>
      <p><a class="downloads" href="https://cdn.roebuck.dev/user/pixilare-media/pixel-series/pixel-craft/season-2/worlds/pixel-craft-season-2-ending-map.zip">Ending Map</a></p>
      <p><a class="downloads" href="https://cdn.roebuck.dev/user/pixilare-media/pixel-series/pixel-craft/season-2/worlds/pixel-craft-season-2-starting-map.zip">Starting Map</a></p>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
  .downloads {
    color: lightgreen;
    text-decoration: none;
  }
  .downloads:hover {
    color: mediumseagreen;
  }
  .external-links {
    color: aqua;
    text-decoration: none;
  }
  .external-links:hover {
    color: rgb(72, 245, 245);
  }
</style>