---
import Layout from '../../layouts/Generic.astro';
---

<Layout title='Season #1 - Pixel Craft - Pixel Series' backPage='/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #1</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col info text-center">
      <h2>Info</h2>
      <p>Season #1 of Pixel Craft was a complete and uter failure, in terms of what we wanted to do and what we got done. We were going to have a wonderful island that we all lived on but in the end we kind of just didn't do anything and let the server expire for the season. You can download the starting and ending maps if you want to but theres not really anything there.</p>
      <p><a class="downloads" href="https://cdn.roebuck.dev/user/pixilare-media/pixel-series/pixel-craft/season-1/worlds/pixel-craft-season-1-ending-map.zip">Ending Map</a></p>
      <p><a class="downloads" href="https://cdn.roebuck.dev/user/pixilare-media/pixel-series/pixel-craft/season-1/worlds/pixel-craft-season-1-starting-map.zip">Starting Map</a></p>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
  .downloads {
    color: lightgreen;
    text-decoration: none;
  }
  .downloads:hover {
    color: mediumseagreen;
  }
  .external-links {
    color: aqua;
    text-decoration: none;
  }
  .external-links:hover {
    color: rgb(72, 245, 245);
  }
</style>