---
import Layout from '../../layouts/Generic.astro';
---

<Layout title='Season #4 - Pixel Craft - Pixel Series' backPage='/' id='PcCdR' slug='Pixel-Craft-Season-4'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #4</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col info text-center">
      <h2>Info</h2>
      <p>Season #4 of Pixel Craft this season we have gone back to the roots a bit better that before. As now we only have things that help improve the vanilla gameplay so one play sleep, and a few others from vanilla tweaks. Plus a few plugins to link the game chat to our discord and handle the player shops.</p>
      <p>We have three optional things for people to use if the want and one required thing. Two of the optional things are a Forge & Fabric along with a Vanilla Tweaks Resource Pack. The required thing is a Custom Items Resource Pack that we use for the Diamond shards and other custom things that we wanted to add to the server. That you can get from <a class="external-links" href="https://download.pixilaremedia.com/user/pixilare-media/pixel-series/pixel-craft/season-4/resource-packs/" target="_blank">Resource Packs Here</a> and <a class="external-links" href="https://download.pixilaremedia.com/user/pixilare-media/pixel-series/pixel-craft/season-4/clients/" target="_blank">Clients Here</a>.</p>
      <p><a class="downloads" href="https://cdn.roebuck.dev/user/pixilare-media/pixel-series/pixel-craft/season-4/worlds/pixel-craft-season-4-ending-map.zip">Ending Map</a></p>
      <p><a class="downloads" href="https://cdn.roebuck.dev/user/pixilare-media/pixel-series/pixel-craft/season-4/worlds/pixel-craft-season-4-starting-map.zip">Starting Map</a></p>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
  .downloads {
    color: lightgreen;
    text-decoration: none;
  }
  .downloads:hover {
    color: mediumseagreen;
  }
  .external-links {
    color: aqua;
    text-decoration: none;
  }
  .external-links:hover {
    color: rgb(72, 245, 245);
  }
</style>