---
import Layout from '../../layouts/Generic.astro';
---

<Layout title='Season #3 - Pixel Craft - Pixel Series' backPage='/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #3</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col info text-center">
      <h2>Info</h2>
      <p>Season #3 of Pixel Craft this was one of our most sucessful seasons but also one of the worst in the balance department. As in this season we added many different custom enchantments and other custom things like warps, homes, and other things that don't really fit into a "vanilla" survival gameplay server. There are some intresting places sacttered around the world for you to explore.</p>
      <p>We also have a few optional things such as a Forge & Fabric client and some optional resource packs that you can get <a class="external-links" href="https://download.pixilaremedia.com/user/pixilare-media/pixel-craft/season-3/resource-packs/" target="_blank">Resource Packs Here</a> and <a class="external-links" href="https://download.pixilaremedia.com/user/pixilare-media/pixel-craft/season-3/clients/" target="_blank">Clients Here</a>.</p>
      <p><a class="downloads" href="https://cdn.roebuck.dev/user/pixilare-media/pixel-series/pixel-craft/season-3/worlds/pixel-craft-season-3-ending-map.zip">Ending Map</a></p>
      <p><a class="downloads" href="https://cdn.roebuck.dev/user/pixilare-media/pixel-series/pixel-craft/season-3/worlds/pixel-craft-season-3-starting-map.zip">Starting Map</a></p>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
  .downloads {
    color: lightgreen;
    text-decoration: none;
  }
  .downloads:hover {
    color: mediumseagreen;
  }
  .external-links {
    color: aqua;
    text-decoration: none;
  }
  .external-links:hover {
    color: rgb(72, 245, 245);
  }
</style>