---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Build Box - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/' id='AdMuH' slug='PCS6-SBA-Build-Box'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Build Box Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/build_box.png" alt="An image of the contents of the Build Box Advancment.">
        <p>This is what is required for the Build Box Advancement. A text list of what is in the Build Shulker Box</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="64x Scaffolding"
            item2="64x Item Frame"
            item3="16x White Banner"
            item4="64x Glass"
            item5="64x Flower Pot"
            item6="64x Glass Pane"
            item7="64x White Carpet"
            item8="64x Chain"
            item9="64x Waxed Block of Copper"
          />
          <List
            title='Middle Row'
            item1="64x End Stone Bricks"
            item2="16x Oak Sign"
            item3="64x Torch"
            item4="64x Glowstone"
            item5="64x Shroomlight"
            item6="64x Sea Lantern"
            item7="64x Soul Torch"
            item8="64x Iron Bars"
            item9="64x Polished Blackstone Bricks"
          />
          <List
            title='Bottom Row'
            item1="64x Stripped Dark Oak Log"
            item2="64x Ladder"
            item3="64x Campfire"
            item4="64x Lantern"
            item5="64x Candle"
            item6="64x Soul Lantern"
            item7="64x Soul Campfire"
            item8="64x Mud Brick Wall"
            item9="64x Spruce Planks"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>