---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Crop Box - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Crop Box Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/crop_box.png" alt="An image of the contents of the Crop Box Advancment.">
        <p>This is what is required for the Crop Box Advancement. A text list of what is in the Crop Shulker Box</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="Empty"
            item2="Empty"
            item3="64x Pumpkin Seeds"
            item4="64x Bone Meal"
            item5="64x Sweet Berries"
            item6="64x Bone Meal"
            item7="64x Melon Seeds"
            item8="Empty"
            item9="Empty"
          />
          <List
            title='Middle Row'
            item1="1x Netherite Hoe w/ Mending, Unbreaking 3, Efficiency 5, Fortune 3"
            item2="64x Wheat Seeds"
            item3="64x Cocoa Beans"
            item4="64x Melon"
            item5="64x Bone Block"
            item6="64x Pumpkin"
            item7="64x Nether Wart"
            item8="64x Beetroot Seeds"
            item9="1x Netherite Hoe w/ Mending, Unbreaking 3, Efficiency 5, Fortune 3"
          />
          <List
            title='Bottom Row'
            item1="Empty"
            item2="Empty"
            item3="64x Potato"
            item4="64x Bone Meal"
            item5="64x Glow Berries"
            item6="64x Bone Meal"
            item7="64x Carrot"
            item8="Empty"
            item9="Empty"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>