---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Food Box - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Food Box Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/food_box.png" alt="An image of the contents of the Food Box Advancment.">
        <p>This is what is required for the Food Box Advancement. A text list of what is in the Food Shulker Box</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="64x Wheat"
            item2="64x Carrot"
            item3="64x Potato"
            item4="64x Beetroot"
            item5="64x Golden Apple"
            item6="64x Cookie"
            item7="64x Pumpkin Pie"
            item8="64x Dried Kelp"
            item9="64x Sweet Berries"
          />
          <List
            title='Middle Row'
            item1="64x Bread"
            item2="64x Golden Carrot"
            item3="64x Baked Potato"
            item4="64x Steak"
            item5="1x Cake"
            item6="64x Cooked Porkchop"
            item7="64x Melon Slice"
            item8="64x Apple"
            item9="64x Glow Berries"
          />
          <List
            title='Bottom Row'
            item1="1x Beetroot Soup"
            item2="1x Rabbit Stew"
            item3="1x Mushroom Stew"
            item4="64x Cooked Mutton"
            item5="64x Cooked Chicken"
            item6="64x Cooked Rabbit"
            item7="16x Honey Bottle"
            item8="64x Cooked Cod"
            item9="64x Cooked Salmon"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>