---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Lingering Box - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/' id='LDOgS' slug='PCS6-SBA-Lingering-Box'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Lingering Box Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/lingering_box.png" alt="An image of the contents of the Lingering Box Advancment.">
        <p>This is what is required for the Lingering Box Advancement. A text list of what is in the Lingering Shulker Box</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="1x Lingering Potion of Fire Resistance (0:45)"
            item2="1x Lingering Potion of Regeneration (0:11)"
            item3="1x Lingering Potion of Harming (I)"
            item4="1x Lingering Potion of Weakness (0:22)"
            item5="1x Lingering Potion of Slow Falling (0:22)"
            item6="1x Lingering Potion of Water Breathing (0:45)"
            item7="1x Lingering Potion of Slowness (0:22)"
            item8="1x Lingering Potion of Invisibility (0:45)"
            item9="1x Lingering Potion of Jump Boost (0:45)"
          />
          <List
            title='Middle Row'
            item1="1x Lingering Potion of Healing (I)"
            item2="1x Lingering Potion of Poison (0:11)"
            item3="1x Lingering Potion of Strength (0:45)"
            item4="1x Lingering Potion of Luck (1:15)"
            item5="1x Lingering Potion of Night Vision (0:45)"
            item6="1x Lingering Potion of Swiftness (0:45)"
            item7="1x Lingering Potion of Absorption (0:07)"
            item8="1x Lingering Potion of Blindness (0:01)"
            item9="1x Lingering Potion of Haste (0:11)"
          />
          <List
            title='Bottom Row'
            item1="1x Lingering Potion of Health Boost (0:07)"
            item2="1x Lingering Potion of Hunger (0:05)"
            item3="1x Lingering Potion of Levitation (0:00)"
            item4="1x Lingering Potion of Mining Fatigue (0:11)"
            item5="1x Lingering Potion of Nausea (0:02)"
            item6="1x Lingering Potion of Resistance (0:11)"
            item7="1x Lingering Potion of Saturation (VIII)"
            item8="1x Lingering Potion of Unluck (0:18)"
            item9="1x Lingering Potion of Wither (0:02)"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>