---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Redstone Box - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/' id='keYhz' slug='PCS6-SBA-Redstone-Box'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Redstone Box Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/redstone_box.png" alt="An image of the contents of the Redstone Box Advancment.">
        <p>This is what is required for the Redstone Box Advancement. A text list of what is in the Redstone Shulker Box</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="64x Piston"
            item2="64x Sticky Piston"
            item3="64x Redstone Repeater"
            item4="64x Redstone Comparator"
            item5="64x Hopper"
            item6="64x Block of Redstone"
            item7="64x Observer"
            item8="64x Honey Block"
            item9="64x Slime Block"
          />
          <List
            title='Middle Row'
            item1="64x Redstone Lamp"
            item2="64x TNT"
            item3="64x Stone Button"
            item4="64x Lever"
            item5="64x Tripwire Hook"
            item6="64x Heavy Weighted Pressure Plate"
            item7="64x Light Weighted Pressure Plate"
            item8="64x Oak Trapdoor"
            item9="64x Iron Door"
          />
          <List
            title='Bottom Row'
            item1="64x Dispenser"
            item2="64x Dropper"
            item3="64x Redstone Torch"
            item4="64x Note Block"
            item5="64x Sculk Sensor"
            item6="64x Lightning Rod"
            item7="64x Trapped Chest"
            item8="64x Target"
            item9="64x Daylight Detector"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>