---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Sea Box - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Sea Box Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/sea_box.png" alt="An image of the contents of the Sea Box Advancment.">
        <p>This is what is required for the Sea Box Advancement. A text list of what is in the Sea Shulker Box</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="64x Tube Coral Block"
            item2="64x Kelp"
            item3="64x Brain Coral Block"
            item4="64x Bone Block"
            item5="64x Bubble Coral Block"
            item6="64x Bone Block"
            item7="64x Fire Coral Block"
            item8="64x Seagrass"
            item9="64x Horn Coral Block"
          />
          <List
            title='Middle Row'
            item1="64x Tube Coral"
            item2="64x Kelp"
            item3="64x Brain Coral"
            item4="64x Sea Pickle"
            item5="64x Bubble Coral"
            item6="64x Sea Pickle"
            item7="64x Fire Coral"
            item8="64x Seagrass"
            item9="64x Horn Coral"
          />
          <List
            title='Bottom Row'
            item1="64x Tube Coral Fan"
            item2="64x Kelp"
            item3="64x Brain Coral Fan"
            item4="64x Sea Pickle"
            item5="64x Bubble Coral Fan"
            item6="64x Sea Pickle"
            item7="64x Fire Coral Fan"
            item8="64x Seagrass"
            item9="64x Horn Coral Fan"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>