---
import Layout from '../../../../layouts/Layout.astro';
import Navigation from '../../../../components/Navigation.astro';
import Footer from '../../../../components/Footer.astro';
import ItemLists from '../../../../components/ItemLists.astro';
import Back from '../../../../components/Back.astro';
import Top from '../../../../components/Top.astro';
---

<Layout title="Sea Box - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series">
    <Navigation/>
    <Top/>
    <Back href="/pixel-craft/season-6/shulker-box-advancements/"/>
	<main class="container justify-content-center text-center space-bottom">
        <div class="row justify-content-center">
            <h1 class="primary-title">Pixel Craft Season #6</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col info text-center">
                <h2>Sea Box Advancement</h2>
                <div class="col justify-content-center">
                    <img src="/images/pixel-craft/season-6/shulker-box-advancements/sea_box.png" alt="An image of the contents of the Sea Box Advancment."/>
                    <p>This is what is required for the Sea Box Advancement. A text list of what is in the Sea Shulker Box</p>
                    <div class="row justify-content-center">
                        <ItemLists
                            title="Top Row"
                            item1="64x Tube Coral Block"
                            item2="64x Kelp"
                            item3="64x Brain Coral Block"
                            item4="64x Bone Block"
                            item5="64x Bubble Coral Block"
                            item6="64x Bone Block"
                            item7="64x Fire Coral Block"
                            item8="64x Seagrass"
                            item9="64x Horn Coral Block"
                        />
                        <ItemLists
                            title="Middle Row"
                            item1="64x Tube Coral"
                            item2="64x Kelp"
                            item3="64x Brain Coral"
                            item4="64x Sea Pickle"
                            item5="64x Bubble Coral"
                            item6="64x Sea Pickle"
                            item7="64x Fire Coral"
                            item8="64x Seagrass"
                            item9="64x Horn Coral"
                        />
                        <ItemLists
                            title="Bottom Row"
                            item1="64x Tube Coral Fan"
                            item2="64x Kelp"
                            item3="64x Brain Coral Fan"
                            item4="64x Sea Pickle"
                            item5="64x Bubble Coral Fan"
                            item6="64x Sea Pickle"
                            item7="64x Fire Coral Fan"
                            item8="64x Seagrass"
                            item9="64x Horn Coral Fan"
                        />
                    </div>
                </div>
            </div>
        </div>
	</main>
    <Footer/>
</Layout>

<style>
    .container {
        position: absolute;
        left: 12em;
        top: 0em;
        right: 0em;
        color: white;
        font-size: large;
    }
    .justify-content-center {
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .text-center {
        text-align: center!important;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .info {
        border: 3px;
        border-color: lightslategray;
        border-style: inset;
        border-radius: 25px;
        font-size: large;
        padding: 10px;
        margin: 5px;
        background-color: rgba(51, 51, 51, 0.5);
    }
    .space-bottom {
        padding-bottom: 3em;
    }
    .primary-title {
        border: 3px;
        border-color: lightslategray;
        border-style: groove;
        border-radius: 25px;
        padding: 10px;
        background-color: rgba(51, 51, 51, 0.5);
    }
</style>
