---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Shulker Shulker Box - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/' id='EDaVW' slug='PCS6-SBA-Shulker-Shulker-Box'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Shulker Shulker Box Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/shulker_shulker_box.png" alt="An image of the contents of the Shulker Shulker Box Advancment.">
        <p>This is what is required for the Shulker Shulker Box Advancement. A text list of what is in the Shulker Shulker Shulker Box</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="64x Shulker Shell"
            item2="64x Shulker Shell"
            item3="64x Shulker Shell"
            item4="64x Shulker Shell"
            item5="64x Shulker Shell"
            item6="64x Shulker Shell"
            item7="64x Shulker Shell"
            item8="64x Shulker Shell"
            item9="64x Shulker Shell"
          />
          <List
            title='Middle Row'
            item1="64x Chest"
            item2="64x Chest"
            item3="64x Chest"
            item4="64x Chest"
            item5="64x Chest"
            item6="64x Chest"
            item7="64x Chest"
            item8="64x Chest"
            item9="64x Chest"
          />
          <List
            title='Bottom Row'
            item1="64x Shulker Shell"
            item2="64x Shulker Shell"
            item3="64x Shulker Shell"
            item4="64x Shulker Shell"
            item5="64x Shulker Shell"
            item6="64x Shulker Shell"
            item7="64x Shulker Shell"
            item8="64x Shulker Shell"
            item9="64x Shulker Shell"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>