---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Splashing Box - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Splashing Box Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/splashing_box.png" alt="An image of the contents of the Splashing Box Advancment.">
        <p>This is what is required for the Splashing Box Advancement. A text list of what is in the Splashing Shulker Box</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="1x Splash Potion of Fire Resistance (3:00)"
            item2="1x Splash Potion of Regeneration (0:45)"
            item3="1x Splash Potion of Harming (I)"
            item4="1x Splash Potion of Weakness (1:30)"
            item5="1x Splash Potion of Slow Falling (1:30)"
            item6="1x Splash Potion of Water Breathing (3:00)"
            item7="1x Splash Potion of Slowness (1:30)"
            item8="1x Splash Potion of Invisibility (3:00)"
            item9="1x Splash Potion of Jump Boost (3:00)"
          />
          <List
            title='Middle Row'
            item1="1x Splash Potion of Healing (I)"
            item2="1x Splash Potion of Poison (0:45)"
            item3="1x Splash Potion of Strength (3:00)"
            item4="1x Splash Potion of Luck (5:00)"
            item5="1x Splash Potion of Night Vision (3:00)"
            item6="1x Splash Potion of Swiftness (3:00)"
            item7="1x Splash Potion of Absorption (2:00)"
            item8="1x Splash Potion of Blindness (0:20)"
            item9="1x Splash Potion of Haste (3:00)"
          />
          <List
            title='Bottom Row'
            item1="1x Splash Potion of Health Boost (2:00)"
            item2="1x Splash Potion of Hunger (1:30)"
            item3="1x Splash Potion of Levitation (0:10)"
            item4="1x Splash Potion of Mining Fatigue (3:00)"
            item5="1x Splash Potion of Nausea (0:45)"
            item6="1x Splash Potion of Resistance (3:00)"
            item7="1x Splash Potion of Saturation (VIII)"
            item8="1x Splash Potion of Unluck (5:00)"
            item9="1x Splash Potion of Wither (0:45)"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>