---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Stone Box 2 - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/' id='Cg0Hi' slug='PCS6-SBA-Stone-Box-2'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Stone Box 2 Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/stone_box_2.png" alt="An image of the contents of the Stone Box 2 Advancment.">
        <p>This is what is required for the Stone Box 2 Advancement. A text list of what is in the Stone Shulker Box 2</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="64x Mossy Cobblestone"
            item2="64x Polished Granite"
            item3="64x Polished Diorite"
            item4="64x Polished Andesite"
            item5="64x Bricks"
            item6="64x Nether Bricks"
            item7="64x Cracked Nether Bricks"
            item8="64x Chiseled Nether Bricks"
            item9="64x Red Nether Bricks"
          />
          <List
            title='Middle Row'
            item1="64x Blackstone"
            item2="64x Polished Blackstone"
            item3="64x Polished Blackstone Bricks"
            item4="64x Cracked Polished Blackstone Bricks"
            item5="64x Chiseled Polished Blackstone"
            item6="64x Sandstone"
            item7="64x Chiseled Sandstone"
            item8="64x Cut Sandstone"
            item9="64x Smooth Sandstone"
          />
          <List
            title='Bottom Row'
            item1="64x Block of Quartz"
            item2="64x Chiseled Quartz Block"
            item3="64x Quartz Bricks"
            item4="64x Quartz Pillar"
            item5="64x Smooth Quartz"
            item6="64x Red Sandstone"
            item7="64x Chiseled Red Sandstone"
            item8="64x Cut Red Sandstone"
            item9="64x Smooth Red Sandstone"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>