---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Stone Box 1 - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/' id='jAKxI' slug='PCS6-SBA-Stone-Box-1'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Stone Box 1 Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/stone_box_1.png" alt="An image of the contents of the Stone Box 1 Advancment.">
        <p>This is what is required for the Stone Box 1 Advancement. A text list of what is in the Stone Shulker Box 1</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="64x Stone"
            item2="64x Granite"
            item3="64x Diorite"
            item4="64x Andesite"
            item5="64x Deepslate"
            item6="64x Calcite"
            item7="64x Tuff"
            item8="64x Dripstone Block"
            item9="64x Cobblestone"
          />
          <List
            title='Middle Row'
            item1="64x Cobbled Deepslate"
            item2="64x Polished Deepslate"
            item3="64x Basalt"
            item4="64x Polished Basalt"
            item5="64x Smooth Basalt"
            item6="64x Stone Bricks"
            item7="64x Mossy Stone Bricks"
            item8="64x Cracked Stone Bricks"
            item9="64x Chiseled Stone Bricks"
          />
          <List
            title='Bottom Row'
            item1="64x Deepslate Bricks"
            item2="64x Cracked Deepslate Bricks"
            item3="64x Deepslate Tiles"
            item4="64x Cracked Deepslate Tiles"
            item5="64x Chiseled Deepslate"
            item6="64x Reinforced Deepslate"
            item7="64x End Stone"
            item8="64x End Stone Bricks"
            item9="64x Smooth Stone"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>