---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Vegetation Box 2 - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/' id='FXn7J' slug='PCS6-SBA-Vegetation-Box-2'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Vegetation Box 2 Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/vegetation_box_2.png" alt="An image of the contents of the Vegetation Box 2 Advancment.">
        <p>This is what is required for the Vegetation Box 2 Advancement. A text list of what is in the Vegetation Shulker Box 2</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="64x Moss Block"
            item2="64x Glow Berries"
            item3="64x Dead Bush"
            item4="64x Small Dripleaf"
            item5="64x Hanging Roots"
            item6="64x Big Dripleaf"
            item7="64x Seagrass"
            item8="64x Sweet Berries"
            item9="64x Cactus"
          />
          <List
            title='Middle Row'
            item1="64x Vines"
            item2="64x Kelp"
            item3="64x Fern"
            item4="64x Sugar Cane"
            item5="64x Lily Pad"
            item6="64x Bamboo"
            item7="64x Grass"
            item8="64x Sea Pickle"
            item9="64x Glow Lichen"
          />
          <List
            title='Bottom Row'
            item1="64x Brown Mushroom"
            item2="64x Crimson Fungus"
            item3="64x Crimson Roots"
            item4="64x Weaping Vines"
            item5="64x Warped Fungus"
            item6="64x Nether Sprouts"
            item7="64x Warped Roots"
            item8="64x Twisting Vines"
            item9="64x Red Mushroom"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>