---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Vegetation Box 1 - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Vegetation Box 1 Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/vegetation_box_1.png" alt="An image of the contents of the Vegetation Box 1 Advancment.">
        <p>This is what is required for the Vegetation Box 1 Advancement. A text list of what is in the Vegetation Shulker Box 1</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="64x Azalea"
            item2="64x Oak Sapling"
            item3="64x Spruce Sapling"
            item4="64x Birch Sapling"
            item5="64x Jungle Sapling"
            item6="64x Acacia Sapling"
            item7="64x Dark Oak Sapling"
            item8="64x Mangrove Propagule"
            item9="64x Flowering Azalea"
          />
          <List
            title='Middle Row'
            item1="64x Dandelion"
            item2="64x Poppy"
            item3="64x Blue Orchid"
            item4="64x Allium"
            item5="64x Azure Bluet"
            item6="64x Red Tulip"
            item7="64x Orange Tulip"
            item8="64x White Tulip"
            item9="64x Pink Tulip"
          />
          <List
            title='Bottom Row'
            item1="64x Oxeye Daisy"
            item2="64x Cornflower"
            item3="64x Lily of the Valley"
            item4="64x Wither Rose"
            item5="64x Spore Blossom"
            item6="64x Sunflower"
            item7="64x Lilac"
            item8="64x Rose Bush"
            item9="64x Peony"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>