---
import Layout from '../../../../layouts/Generic.astro';
import List from '../../../../components/seasons/ItemLists.astro';
---

<Layout title='Wood Box - Shulker Box Advancements - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/shulker-box-advancements/' id='Th4Pq' slug='PCS6-SBA-Wood-Box'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Wood Box Advancement</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/shulker-box-advancements/wood_box.png" alt="An image of the contents of the Wood Box Advancment.">
        <p>This is what is required for the Wood Box Advancement. A text list of what is in the Wood Shulker Box</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="64x Oak Log"
            item2="64x Spruce Log"
            item3="64x Birch Log"
            item4="64x Jungle Log"
            item5="64x Acacia Log"
            item6="64x Dark Oak Log"
            item7="64x Mangrove Log"
            item8="64x Crimson Stem"
            item9="64x Warped Stem"
          />
          <List
            title='Middle Row'
            item1="64x Oak Planks"
            item2="64x Spruce Planks"
            item3="64x Birch Planks"
            item4="64x Jungle Planks"
            item5="64x Acacia Planks"
            item6="64x Dark Oak Planks"
            item7="64x Mangrove Planks"
            item8="64x Crimson Planks"
            item9="64x Warped Planks"
          />
          <List
            title='Bottom Row'
            item1="64x Oak Log"
            item2="64x Spruce Log"
            item3="64x Birch Log"
            item4="64x Jungle Log"
            item5="64x Acacia Log"
            item6="64x Dark Oak Log"
            item7="64x Mangrove Log"
            item8="64x Crimson Stem"
            item9="64x Warped Stem"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>