---
import Layout from '../../layouts/Generic.astro';
---

<Layout title='Season #2 - Pixel Modded - Pixel Series' backPage='/' id='4lcMK' slug='Pixel-Modded-Season-2'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Modded Season #2</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col info text-center">
      <h2>Info</h2>
      <p>Season #2 of Pixel Modded this is a fun adventure using the <a class="external-links" href="https://www.curseforge.com/minecraft/modpacks/project-ozone-3-a-new-way-forward" target="_blank">Project Ozone 3</a> modpack. This time we had a bit more going as we had planned out some of what we were going to be doing 4 teams of up to 5 people. To complete the quest book and create a good looking base. There is a world download at the start and end of this season for you to go and explore.</p>
      <p>In the later part of this season we added some addition mods that we wanted you can get them <a class="external-links" href="https://download.pixilaremedia.com/user/pixilare-media/pixel-series/pixel-modded/season-2/" target="_blank">Additions Here</a></p>
      <p><a class="downloads" href="https://cdn.roebuck.dev/user/pixilare-media/pixel-series/pixel-modded/season-2/worlds/pixel-modded-season-2-ending-map.zip">Ending Map</a></p>
      <p><a class="downloads" href="https://cdn.roebuck.dev/user/pixilare-media/pixel-series/pixel-modded/season-2/worlds/pixel-modded-season-2-starting-map.zip">Starting Map</a></p>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .primary-title > .header-logo {
    width: 60%;
    height: auto;
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
  .downloads {
    color: lightgreen;
    text-decoration: none;
  }
  .downloads:hover {
    color: mediumseagreen;
  }
  .external-links {
    color: aqua;
    text-decoration: none;
  }
  .external-links:hover {
    color: rgb(72, 245, 245);
  }
</style>