---
import Layout from '../../../../../layouts/Generic.astro';
import List from '../../../../../components/seasons/ItemLists.astro';
---

<Layout title='Cyan Shulker Box - Blaze Rods - Item Combinations - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/item-combinations/blaze-rods/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Blaze Rods Cyan Shulker Box</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/item-combinations/blaze-rods/cyan_shulker_box.png" alt="An image of the contents of the Cyan Shulker Box for the Blaze Rods.">
        <p>This is what is required for the Cyan Shulker Box in the Blaze Rods item. A text list of what is in the Cyan Shulker Box.</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="1x Stick"
            item2="1x Stick"
            item3="1x Stick"
            item4="1x Fire Charge"
            item5="1x Fire Charge"
            item6="1x Fire Charge"
            item7="1x Stick"
            item8="1x Stick"
            item9="1x Stick"
          />
          <List
            title='Middle Row'
            item1="1x Stick"
            item2="1x Bone"
            item3="1x Stick"
            item4="1x Fire Charge"
            item5="1x Bone"
            item6="1x Fire Charge"
            item7="1x Stick"
            item8="1x Bone"
            item9="1x Stick"
          />
          <List
            title='Bottom Row'
            item1="1x Stick"
            item2="1x Stick"
            item3="1x Stick"
            item4="1x Fire Charge"
            item5="1x Fire Charge"
            item6="1x Fire Charge"
            item7="1x Stick"
            item8="1x Stick"
            item9="1x Stick"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>