/*Copyright Styling*/
.copyright {
    color: white;
}
.copyrighted {
    color: white;
}
.copyrighted:hover {
    color: rgb(70, 33, 151);
}
.copyright-sm {
    color: white;
    font-size: small;
}
.copyright-xs {
    color: white;
    font-size: xx-small;
}

/*Page Format Styling*/
.container {
    background-image: url(/assets/images/backgrounds/main.png);
    background-size: cover;
    background-attachment: fixed;
    /*font-family: 'Segoe Script';*/
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.text-center {
    text-align: center!important;
}

/*Scroll Bar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #353232;
}
::-webkit-scrollbar-thumb {
    background: rgb(71, 70, 70);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(134, 134, 134);
}

/*Global Styling*/
a {
    text-decoration: none;
}