.primary-title {
    text-decoration: none;
    color: purple;
}
.secondary-title {
    text-decoration: none;
    color: violet;
}
.tertiary-title {
    text-decoration: none;
    color: rgb(207, 64, 207);
}
.info {
    border: 3px;
    border-color: lightgray;
    border-style: outset;
    border-radius: 50px;
    color: rgb(165, 112, 218);
    font-size: large;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: rgba(51, 51, 51, 0.7);
    text-decoration-line: none;
}
.image-links {
    width: 15%;
    height: auto;
}
.internal-links {
    text-decoration: none;
    color: gold;
}
.internal-links:hover {
    text-decoration: underline;
    color: yellow;
}
.heads {
    width: 25%;
    height: auto;
}
.body {
    width: 50%;
    height: auto;
}
.bodys {
    width: 69%;
    height: auto;
}
.links-out {
    width: 5%;
    height: auto;
    color: aqua;
    padding: 29px;
}
.landscape {
    width: 50%;
    height: auto;
    border: 3px;
    border-color: gray;
    border-style: groove;
    border-radius: 25px;
}
.showHeads {
    border: none;
    border-width: 3px;
    border-style: solid;
    border-radius: 7px;
    border-color: lightgray;
    background-color: rgba(51, 51, 51, 0.5);
    font-size: 20px;
    color: lime;
    margin-left: 5px;
    margin-right: 5px;
}
.infos {
    border: 3px;
    border-color: lightgray;
    border-style: inset;
    border-radius: 50px;
    padding-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}