.nav {
    position: fixed;
    left: 0em;
    top: 0em;
    bottom: 0em;
    width: 13em;
    background-color: rgb(32, 28, 28);
}
.home-img {
    width: 8em;
}
.nav-bar {
    list-style: none;
    font-size: 20px;
    margin-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: rgb(70, 33, 151);
}
.nav-space {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.nav-space:first-child {
    margin-top: 0em;
}
.nav-spacer {
    border: 3px;
    border-style: double;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom-color: white;
}
.nav-category {
    margin: 0em;
    background-color: transparent;
    font-size: x-large;
    color: white;
    border: 3px;
    border-style: double;
    border-left: 0px;
    border-right: 0px;
    border-top-color: white;
    border-bottom-color: white;
}
.nav-box-wrap{
    display:flex;
    flex-direction: column;
}
.nav-box{
    transition:.2s all; 
}
.nav-box-wrap:hover .nav-box{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
}
.nav-box-wrap:hover .nav-box:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
}


.content {
    background-color: rgba(51, 51, 51, 0.5);
    position: absolute;
    left: 13em;
    top: 0em;
    right: 0em;
}
.footer-info {
    position: fixed;
    left: 13.85em;
    right: 0em;
    bottom: 0em;
    background-color: rgb(14, 14, 14);
    font-size: 15px;
}