/*Side Bar Navigation Stuff*/
.nav {
    position: fixed;
    left: 0em;
    top: 0em;
    bottom: 0em;
    background-color: rgb(32, 28, 28);
}
.home-img {
    width: 8em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-top: 0.3em;
}
.nav-bar {
    list-style: none;
    font-size: 20px;
    padding-left: 1em;
    padding-right: 1em;
}
.nav-category {
    background-color: transparent;
    font-size: x-large;
    color: white;
    border: 3px;
    border-style: double;
    border-left: 0px;
    border-right: 0px;
    border-top-color: white;
    border-bottom-color: white;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: rgb(70, 33, 151);
}
.nav-space {
    padding-top: 1em;
}
.nav-space2 {
    padding-top: 0.5em;
}
.nav-space3 {
    padding-top: 0.25em;
}
/*Content & Footer Navigation Stuff*/
.content {
    background-color: rgba(51, 51, 51, 0.5);
    position: absolute;
    left: 13em;
    top: 0em;
    right: 0em;
}
.footer-info {
    position: fixed;
    left: 13.85em;
    right: 0em;
    bottom: 0em;
    background-color: rgb(14, 14, 14);
    font-size: 15px;
}