.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.info {
    color: white;
    font-size: large;
    padding: 10px;
}
.body {
    width: 50%;
    height: auto;
}
.bodys {
    width: 69%;
    height: auto;
}
.links-out {
    width: 4.9%;
    height: auto;
    color: aqua;
    padding: 29px;
}
.landscape {
    width: 50%;
    height: auto;
    border: 3px;
    border-color: gray;
    border-style: groove;
    border-radius: 25px;
}
.infos {
    border: 3px;
    border-color: lightgray;
    border-style: inset;
    border-radius: 50px;
    padding-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(51, 51, 51, 0.5);
}
.space-bottom {
    padding-bottom: 1em;
}
.content {
    bottom: 0em;
}

.primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.5);
}