---
import Layout from '../layouts/FrontPage.astro'
---

<Layout title="404 - Pixel Series">
  <div class="col text-center">
    <h1 class="primary-title">404</h1>
    <h2>The content you were looking for does not exist, and for that were sorry.</h2>
    <p><a class="secondary-title" href="/">Click me to head back to the front page.</a></p>
  </div>
</Layout>

<style>
  .primary-title {
    font-size: 250px;
  }
  .secondary-title {
    color: violet;
    text-decoration: none;
  }
  .secondary-title:hover {
    color: rgb(127, 90, 207);
    cursor: pointer;
  }
</style>