---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Pixel Series">
    <Navigation/>
	<main class="container justify-content-center text-center space-bottom">
        <div class="row justify-content-center">
            <h1 class="primary-title">Pixel Series</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col info text-center">
                <h2 class="secondary-title">Hello and Welcome to Pixel Series</h2>
                <p>Where the only thing that gets in the way of us doing cool things is other obligations we have. Here we play "Vanilla" and Modded Minecraft: Java Edition with some of us Streaming or Recording it as well. Created back in 2016 we've played and updated through 4 differnt modpacks and 8 major vanilla updates.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col info text-center">
                <h3 class="secondary-title">Pixel Craft Seasons</h3>
                <div class="justify-content-center">
                    <a class="internal-links" href="/pixel-craft/season-6/">
                        <img class="image-links" src="/images/pixel-craft/season_6.png" alt="Pixel Craft Season #6 Image"/>
                    </a>
                    <a class="internal-links" href="/pixel-craft/season-5/">
                        <img class="image-links" src="/images/pixel-craft/season_5.png" alt="Pixel Craft Season #5 Image"/>
                    </a>
                    <a class="internal-links" href="/pixel-craft/season-4/">
                        <img class="image-links" src="/images/pixel-craft/season_4.png" alt="Pixel Craft Season #4 Image"/>
                    </a>
                    <a class="internal-links" href="/pixel-craft/season-3/">
                        <img class="image-links" src="/images/pixel-craft/season_3.png" alt="Pixel Craft Season #3 Image"/>
                    </a>
                    <a class="internal-links" href="/pixel-craft/season-2/">
                        <img class="image-links" src="/images/pixel-craft/season_2.png" alt="Pixel Craft Season #2 Image"/>
                    </a>
                    <a class="internal-links" href="/pixel-craft/season-1/">
                        <img class="image-links" src="/images/pixel-craft/season_1.png" alt="Pixel Craft Season #1 Image"/>
                    </a>
                </div>
            </div>
            <div class="col info text-center">
                <h3 class="secondary-title">Pixel Modded Seasons</h3>
                <div class="justify-content-center">
                    <a class="internal-links" href="/pixel-modded/season-4/">
                        <img class="image-links" src="/images/pixel-modded/season_4.png" alt="Pixel Modded Season #4 Image"/>
                    </a>
                    <a class="internal-links" href="/pixel-modded/season-3/">
                        <img class="image-links" src="/images/pixel-modded/season_3.png" alt="Pixel Modded Season #3 Image"/>
                    </a>
                    <a class="internal-links" href="/pixel-modded/season-2/">
                        <img class="image-links" src="/images/pixel-modded/season_2.png" alt="Pixel Modded Season #2 Image"/>
                    </a>
                    <a class="internal-links" href="/pixel-modded/season-1/">
                        <img class="image-links" src="/images/pixel-modded/season_1.png" alt="Pixel Modded Season #1 Image"/>
                    </a>
                </div>
            </div>
        </div>
	</main>
    <Footer/>
</Layout>

<style>
    .container {
        position: absolute;
        left: 12em;
        top: 0em;
        right: 0em;
        color: white;
        font-size: large;
    }
    .justify-content-center {
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .text-center {
        text-align: center!important;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .info {
        border: 3px;
        border-color: lightslategray;
        border-style: inset;
        border-radius: 25px;
        font-size: large;
        padding: 10px;
        margin: 5px;
        background-color: rgba(51, 51, 51, 0.5);
    }
    .image-links {
        width: 40%;
        height: auto;
    }
    .internal-links {
        color: rgba(9, 62, 123, 0.696);
        text-decoration: none;
    }
    .internal-links:hover {
        color: rgb(9, 62, 123);
    }
    .space-bottom {
        padding-bottom: 3em;
    }
    .primary-title {
        border: 3px;
        border-color: lightslategray;
        border-style: groove;
        border-radius: 25px;
        padding: 10px;
        background-color: rgba(51, 51, 51, 0.5);
    }
</style>
