---
import Layout from '../layouts/Generic.astro';
---

<Layout title='Join Request - Pixel Series' backPage='/' id='gX5Pw' slug='Join-Request'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Join Request Form</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center">
      <iframe class="info" src="https://docs.google.com/forms/d/e/1FAIpQLSejv2LhmdzOdEIRnTTw1_5hj1vW82ZlwCfiUYSF32YuyNVYRg/viewform?embedded=true" width="640" height="2120" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div>
</Layout>

<style>
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
    margin-bottom: 3em;
  }
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
</style>