---
import Layout from '../layouts/Generic.astro';
import Season from '../components/members/Season.astro';
import Card from '../components/members/Card.astro';
---

<Layout title='Members - Pixel Series' backPage='/' id='PpsZt' slug='Members'>
  <div class="row justify-content-center">
    <h1 class="primary-title"><img class="header-logo" src="/images/icons/pixelseries_members.png"></h1>
  </div>
  <div class="row justify-content-center">
    <div class="col"></div>
    <div class="col info text-center">
      <h2 class="secondary-title"><img class="header-logo" src="/images/pixel-craft/name.png"></h2>
      <div class="row justify-content-center">
        <button id="PixelCraftSeason1Button" class="showHeads">S1</button>
        <button id="PixelCraftSeason2Button" class="showHeads">S2</button>
        <button id="PixelCraftSeason3Button" class="showHeads">S3</button>
        <button id="PixelCraftSeason4Button" class="showHeads">S4</button>
        <button id="PixelCraftSeason5Button" class="showHeads">S5</button>
        <button id="PixelCraftSeason6Button" class="showHeads">S6</button>
      </div>
    </div>
    <div class="col info text-center">
      <h2 class="secondary-title"><img class="header-logo" src="/images/pixel-modded/name.png"></h2>
      <div class="row justify-content-center">
        <button id="PixelModdedSeason1Button" class="showHeads">S1</button>
        <button id="PixelModdedSeason2Button" class="showHeads">S2</button>
        <button id="PixelModdedSeason3Button" class="showHeads">S3</button>
        <button id="PixelModdedSeason4Button" class="showHeads">S4</button>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <div class="col justify-content-center">
    <Season title='Pixel Craft Season 6' img='season_6' series='pixel-craft' id='PixelCraftSeason6Members' anchor='#Pixel-Craft-Season-6'>
      <div class="row">
        <Card
          name='Herobrain_gamer'
          href='herobrain_gamer'
          uuid='c8d6aeb2-caa6-4381-8815-330fe2677c98'
        />
        <Card
          name='zackman1291'
          href='zackman1291'
          uuid='f9fd52a3-18aa-4551-8cda-8b1c76aa44fe'
        />
        <Card
          name='EggyLadd'
          href='eggyladd'
          uuid='8d87c4e6-7a31-4d2c-b07e-11ed8c4ed870'
        />
        <Card
          name='ComradeAutismo'
          href='comradeautismo'
          uuid='d7d9d2fc-e03d-42fc-b190-f141dbedd346'
        />
      </div>
      <div class="row">
        <Card
          name="midna_87"
          href="midna_87"
          uuid="e157ae19-db7d-4600-aeea-b2220b60ffa3"
        />
        <Card
          name="Nik_Storey"
          href="nik_storey"
          uuid="48dae462-73c3-4b00-bd39-2f56fd1e6499"
        />
        <Card
          name="Squiggy_Cryptid"
          href="squiggy_cryptid"
          uuid="8431dd80-7127-456e-a581-a28d211e71b5"
        />
        <Card
          name="MasterZent"
          href="masterzent"
          uuid="cda05d88-8138-4f9a-b94f-72ff937b6560"
        />
      </div>
      <div class="row">
        <Card
          name="the_sharktooth"
          href="the_sharktooth"
          uuid="20da66b2-c0de-48a2-b57d-6e6cfe7d5a54"
        />
        <Card
          name="ChaosCreature4K"
          href="chaoscreature4k"
          uuid="dedc3f36-bb98-49a0-a9e2-d6a474f355c5"
        />
        <Card
          name="ArtisticArnie"
          href="artisticarnie"
          uuid="3885722f-3aab-493d-a45b-92694fd3f1a4"
        />
        <Card
          name="TheTrueDuality"
          href="thetrueduality"
          uuid="8895c3c2-5c10-484e-bcf2-cacf971cecef"
        />
      </div>
      <div class="row">
        <Card
          name="Bear_Mohawk"
          href="bear_mohawk"
          uuid="59f11d94-5609-4baa-8eb4-08238f3167c6"
        />
        <Card
          name="WulfDemon"
          href="wulfdemon"
          uuid="e9bbcd09-ea2f-4055-b39d-5f5dd0d06259"
        />
        <Card
          name="TKatra"
          href="tkatra"
          uuid="43616ce7-c596-460e-8240-b457ccce630f"
        />
        <Card
          name="Stranqe_People"
          href="stranqe_people"
          uuid="6ca8c783-727d-4222-a75e-ad36c0a22996"
        />
      </div>
      <div class="row">
        <Card
          name="ApparitionX27"
          href="apparitionx27"
          uuid="7fcc9e0a-6b23-464a-9791-45561de304e3"
        />
        <Card
          name="OGKnightBro94"
          href="ogknightbro94"
          uuid="7a52db1e-9209-40b7-9dbe-d8b4b2043a17"
        />
        <Card
          name="Timber_Awoo"
          href="timber_awoo"
          uuid="93fbb9bd-16c3-4a4c-ac1f-565d717ca389"
        />
        <Card
          name="X_Cygnus_X"
          href="x_cygnus_x"
          uuid="8ad92a3c-26e0-4b58-a464-94a0a2efd69f"
        />
      </div>
      <div class="row">
        <Card
          name="Qwispy_Spyderz"
          href="qwispy_spyderz"
          uuid="11011535-8cff-4c7b-944d-55c0a279e742"
        />
        <Card
          name="nerdnation454"
          href="nerdnation454"
          uuid="7e81a4a3-08a1-431f-a515-5fa6e1fce2b9"
        />
        <Card
          name="Aki_Ryuto"
          href="aki_ryuto"
          uuid="8346118d-296a-4e7c-a1df-3e88debefa29"
        />
        <Card
          name="icecreammosh"
          href="icecreammosh"
          uuid="8fbc1542-3428-4f2f-b815-0373712995e3"
        />
        <Card
          name="Lockness666"
          href="lockness666"
          uuid="d896cfe0-0845-4157-9bab-624ef734e686"
        />
      </div>
      <div class="row">
        <Card
          name="KitteeKat115"
          href="kitteekat115"
          uuid="9aa71525-3097-4fc4-a9d7-3209a8cdf6fa"
        />
        <Card
          name="SLRvoid"
          href="slrvoid"
          uuid="b0d71c73-920c-40f4-bc1a-543d00d197a8"
        />
        <Card
          name="Matth3w404"
          href="matth3w404"
          uuid="24631263-19d9-44a1-ba2c-9f6a2c3542fa"
        />
        <Card
          name="beth1qw"
          href="beth1qw"
          uuid="2ea5d02e-3406-416d-af29-b79b97cbe4d4"
        />
      </div>
    </Season>
    <Season title='Pixel Craft Season 5' img='season_5' series='pixel-craft' id='PixelCraftSeason5Members' anchor='#Pixel-Craft-Season-5'>
      <div class="row">
          <Card
              name="Herobrain_gamer"
              href="herobrain_gamer"
              uuid="c8d6aeb2-caa6-4381-8815-330fe2677c98"
          />
          <Card
              name="zackman1291"
              href="zackman1291"
              uuid="f9fd52a3-18aa-4551-8cda-8b1c76aa44fe"
          />
          <Card
              name="EggyLadd"
              href="eggyladd"
              uuid="8d87c4e6-7a31-4d2c-b07e-11ed8c4ed870"
          />
          <Card
              name="ComradeAutismo"
              href="comradeautismo"
              uuid="d7d9d2fc-e03d-42fc-b190-f141dbedd346"
          />
      </div>
      <div class="row">
          <Card
              name="TheTrueDuality"
              href="thetrueduality"
              uuid="8895c3c2-5c10-484e-bcf2-cacf971cecef"
          />
          <Card
              name="Nik_Storey"
              href="nik_storey"
              uuid="48dae462-73c3-4b00-bd39-2f56fd1e6499"
          />
          <Card
              name="Squiggy_Cryptid"
              href="squiggy_cryptid"
              uuid="8431dd80-7127-456e-a581-a28d211e71b5"
          />
          <Card
              name="MasterZent"
              href="masterzent"
              uuid="cda05d88-8138-4f9a-b94f-72ff937b6560"
          />
      </div>
      <div class="row">
          <Card
              name="AnnyongB"
              href="annyongb"
              uuid="91983e64-aca1-4cc9-a0fb-fdfbdee94513"
          />
          <Card
              name="Bear_Mohawk"
              href="bear_mohawk"
              uuid="59f11d94-5609-4baa-8eb4-08238f3167c6"
          />
          <Card
              name="WulfDemon"
              href="wulfdemon"
              uuid="e9bbcd09-ea2f-4055-b39d-5f5dd0d06259"
          />
          <Card
              name="Stranqe_People"
              href="stranqe_people"
              uuid="6ca8c783-727d-4222-a75e-ad36c0a22996"
          />
      </div>
      <div class="row">
          <Card
              name="ApparitionX27"
              href="apparitionx27"
              uuid="7fcc9e0a-6b23-464a-9791-45561de304e3"
          />
          <Card
              name="OGKnightBro94"
              href="ogknightbro94"
              uuid="7a52db1e-9209-40b7-9dbe-d8b4b2043a17"
          />
          <Card
              name="Timber_Awoo"
              href="timber_awoo"
              uuid="93fbb9bd-16c3-4a4c-ac1f-565d717ca389"
          />
          <Card
              name="Dain_Fa"
              href="dain_fa"
              uuid="a9e46d77-f064-46f6-9dfd-c7cba268c4ed"
          />
      </div>
      <div class="row">
          <Card
              name="Zoaraym"
              href="zoaraym"
              uuid="3c22af25-55e8-4062-ae50-d53e7ce1fa9f"
          />
          <Card
              name="Nave1803"
              href="nave1803"
              uuid="775fa597-bc4f-4a0c-bec6-c149b261c1be"
          />
          <Card
              name="BurningOrphans"
              href="burningorphans"
              uuid="3e56daf4-979e-4670-9fdc-60e813437dfb"
          />
          <Card
              name="CrustyBird"
              href="crustybird"
              uuid="3ea62c30-e9a7-4baa-80af-924a497cb37d"
          />
      </div>
      <div class="row">
          <Card
              name="HellSubjection"
              href="hellsubjection"
              uuid="37fdf820-90cc-4f7e-a09a-d58279214f30"
          />
          <Card
              name="PeachyPugs"
              href="peachypugs"
              uuid="f191626b-ff3a-455a-84dc-e4acee7a6fae"
          />
          <Card
              name="Gardonn"
              href="gardonn"
              uuid="1f5a8782-79f2-4314-bd16-17fc3b084490"
          />
          <Card
              name="seonbwii"
              href="seonbwii"
              uuid="16996eab-a965-4cbe-8689-c3dd44f0f7cd"
          />
      </div>
      <div class="row">
          <Card
              name="yeahbox"
              href="yeahbox"
              uuid="8e956296-9ad5-4db5-804c-9ed93f858b05"
          />
          <Card
              name="Butterminer200"
              href="butterminer200"
              uuid="802383cc-cb04-40ea-9587-4fec91de2133"
          />
          <Card
              name="Stansh02"
              href="stansh02"
              uuid="c938a98d-127c-40fc-9ccb-c5df2ecd2b58"
          />
          <Card
              name="Lucidrosez"
              href="lucidrosez"
              uuid="c3493741-123e-462e-882d-ce66c299201e"
          />
      </div>
      <div class="row">
          <Card
              name="KitteeKat115"
              href="kitteekat115"
              uuid="9aa71525-3097-4fc4-a9d7-3209a8cdf6fa"
          />
          <Card
              name="SLRvoid"
              href="slrvoid"
              uuid="b0d71c73-920c-40f4-bc1a-543d00d197a8"
          />
          <Card
              name="Matth3w404"
              href="matth3w404"
              uuid="24631263-19d9-44a1-ba2c-9f6a2c3542fa"
          />
          <Card
              name="beth1qw"
              href="beth1qw"
              uuid="2ea5d02e-3406-416d-af29-b79b97cbe4d4"
          />
      </div>
    </Season>
    <Season title='Pixel Craft Season 4' img='season_4' series='pixel-craft' id='PixelCraftSeason4Members' anchor='#Pixel-Craft-Season-4'>
      <div class="row">
          <Card
              name="Herobrain_gamer"
              href="herobrain_gamer"
              uuid="c8d6aeb2-caa6-4381-8815-330fe2677c98"
          />
          <Card
              name="Gardonn"
              href="gardonn"
              uuid="1f5a8782-79f2-4314-bd16-17fc3b084490"
          />
          <Card
              name="EggyLadd"
              href="eggyladd"
              uuid="8d87c4e6-7a31-4d2c-b07e-11ed8c4ed870"
          />
          <Card
              name="zackman1291"
              href="zackman1291"
              uuid="f9fd52a3-18aa-4551-8cda-8b1c76aa44fe"
          />
      </div>
      <div class="row">
          <Card
              name="seonbwii"
              href="seonbwii"
              uuid="16996eab-a965-4cbe-8689-c3dd44f0f7cd"
          />
          <Card
              name="ComradeAutismo"
              href="comradeautismo"
              uuid="d7d9d2fc-e03d-42fc-b190-f141dbedd346"
          />
          <Card
              name="Nik_Storey"
              href="nik_storey"
              uuid="48dae462-73c3-4b00-bd39-2f56fd1e6499"
          />
          <Card
              name="KatieBear88"
              href="katiebear88"
              uuid="5cc9b9c3-3983-4f86-930c-31e67977a4eb"
          />
      </div>
      <div class="row">
          <Card
              name="Tiwborn"
              href="tiwborn"
              uuid="e91db4f9-dd51-48b1-a421-5a131847659e"
          />
          <Card
              name="Bear_Mohawk"
              href="bear_mohawk"
              uuid="59f11d94-5609-4baa-8eb4-08238f3167c6"
          />
          <Card
              name="Stranqe_People"
              href="stranqe_people"
              uuid="6ca8c783-727d-4222-a75e-ad36c0a22996"
          />
          <Card
              name="WulfDemon"
              href="wulfdemon"
              uuid="e9bbcd09-ea2f-4055-b39d-5f5dd0d06259"
          />
      </div>
      <div class="row">
          <Card
              name="HellSubjection"
              href="hellsubjection"
              uuid="37fdf820-90cc-4f7e-a09a-d58279214f30"
          />
          <Card
              name="Butterminer200"
              href="butterminer200"
              uuid="802383cc-cb04-40ea-9587-4fec91de2133"
          />
          <Card
              name="SKstarbreaker"
              href="skstarbreaker"
              uuid="729b7d68-e3b8-429a-90f6-ccf67fb9b6a8"
          />
          <Card
              name="GeorgeWBush1946"
              href="georgewbush1946"
              uuid="23cc19ab-6b90-4139-8f7a-7e76d5cb3267"
          />
      </div>
      <div class="row">
          <Card
              name="czerczer"
              href="czerczer"
              uuid="b985cbd4-4ed5-4248-a7bb-c36484cc5940"
          />
          <Card
              name="xqcL"
              href="xqcl"
              uuid="9c5d9dc3-4ed5-443f-be7f-b981d256bf63"
          />
          <Card
              name="nerdnation454"
              href="nerdnation454"
              uuid="7e81a4a3-08a1-431f-a515-5fa6e1fce2b9"
          />
          <Card
              name="MasterZent"
              href="masterzent"
              uuid="cda05d88-8138-4f9a-b94f-72ff937b6560"
          />
      </div>
      <div class="row">
          <Card
              name="TooMuchStag"
              href="toomuchstag"
              uuid="9763f232-29d8-48b9-a2b0-8eba73033778"
          />
          <Card
              name="MainManQuince"
              href="mainmanquince"
              uuid="0a61ee20-8996-436b-b27f-70b8e0d8118c"
          />
          <Card
              name="Lemayz"
              href="lemayz"
              uuid="20195512-068d-4949-815e-8b378dcd0d19"
          />
          <Card
              name="PeachyPugs"
              href="peachypugs"
              uuid="f191626b-ff3a-455a-84dc-e4acee7a6fae"
          />
      </div>
      <div class="row">
          <Card
              name="Chroifala"
              href="chroifala"
              uuid="257d3052-560a-4f97-8265-b24bb07855f0"
          />
          <Card
              name="BurningOrphans"
              href="burningorphans"
              uuid="3e56daf4-979e-4670-9fdc-60e813437dfb"
          />
          <Card
              name="TheTrueDuality"
              href="thetrueduality"
              uuid="8895c3c2-5c10-484e-bcf2-cacf971cecef"
          />
          <Card
              name="AnnyongB"
              href="annyongb"
              uuid="91983e64-aca1-4cc9-a0fb-fdfbdee94513"
          />
      </div>
      <div class="row">
          <Card
              name="KitteeKat115"
              href="kitteekat115"
              uuid="9aa71525-3097-4fc4-a9d7-3209a8cdf6fa"
          />
          <Card
              name="SLRvoid"
              href="slrvoid"
              uuid="b0d71c73-920c-40f4-bc1a-543d00d197a8"
          />
          <Card
              name="Matth3w404"
              href="matth3w404"
              uuid="24631263-19d9-44a1-ba2c-9f6a2c3542fa"
          />
          <Card
              name="beth1qw"
              href="beth1qw"
              uuid="2ea5d02e-3406-416d-af29-b79b97cbe4d4"
          />
      </div>
      <div class="row">
          <Card
              name="Squiggy_Cryptid"
              href="squiggy_cryptid"
              uuid="8431dd80-7127-456e-a581-a28d211e71b5"
          />
          <Card
              name="ThermalBucket41"
              href="thermalbucket41"
              uuid="c9dc009c-862e-4386-a61d-618a0a432ad5"
          />
          <Card
              name="yeahbox"
              href="yeahbox"
              uuid="8e956296-9ad5-4db5-804c-9ed93f858b05"
          />
      </div>
    </Season>
    <Season title='Pixel Craft Season 3' img='season_3' series='pixel-craft' id='PixelCraftSeason3Members' anchor='#Pixel-Craft-Season-3'>
      <div class="row">
          <Card
              name="Herobrain_gamer"
              href="herobrain_gamer"
              uuid="c8d6aeb2-caa6-4381-8815-330fe2677c98"
          />
          <Card
              name="Gardonn"
              href="gardonn"
              uuid="1f5a8782-79f2-4314-bd16-17fc3b084490"
          />
          <Card
              name="EggyLadd"
              href="eggyladd"
              uuid="8d87c4e6-7a31-4d2c-b07e-11ed8c4ed870"
          />
          <Card
              name="TheTrueDuality"
              href="thetrueduality"
              uuid="8895c3c2-5c10-484e-bcf2-cacf971cecef"
          />
      </div>
      <div class="row">
          <Card
              name="zackman1291"
              href="zackman1291"
              uuid="f9fd52a3-18aa-4551-8cda-8b1c76aa44fe"
          />
          <Card
              name="midna_87"
              href="midna_87"
              uuid="e157ae19-db7d-4600-aeea-b2220b60ffa3"
          />
          <Card
              name="HellSubjection"
              href="hellsubjection"
              uuid="37fdf820-90cc-4f7e-a09a-d58279214f30"
          />
          <Card
              name="Butterminer200"
              href="butterminer200"
              uuid="802383cc-cb04-40ea-9587-4fec91de2133"
          />
      </div>
      <div class="row">
          <Card
              name="KatieBear88"
              href="katiebear88"
              uuid="5cc9b9c3-3983-4f86-930c-31e67977a4eb"
          />
          <Card
              name="Bear_Mohawk"
              href="bear_mohawk"
              uuid="59f11d94-5609-4baa-8eb4-08238f3167c6"
          />
          <Card
              name="Stranqe_People"
              href="stranqe_people"
              uuid="6ca8c783-727d-4222-a75e-ad36c0a22996"
          />
          <Card
              name="WulfDemon"
              href="wulfdemon"
              uuid="e9bbcd09-ea2f-4055-b39d-5f5dd0d06259"
          />
      </div>
      <div class="row">
          <Card
              name="Chroifala"
              href="chroifala"
              uuid="257d3052-560a-4f97-8265-b24bb07855f0"
          />
          <Card
              name="MasterZent"
              href="masterzent"
              uuid="cda05d88-8138-4f9a-b94f-72ff937b6560"
          />
          <Card
              name="BurningOrphans"
              href="burningorphans"
              uuid="3e56daf4-979e-4670-9fdc-60e813437dfb"
          />
          <Card
              name="TooMuchStag"
              href="toomuchstag"
              uuid="9763f232-29d8-48b9-a2b0-8eba73033778"
          />
      </div>
      <div class="row">
          <Card
              name="AnnyongB"
              href="annyongb"
              uuid="91983e64-aca1-4cc9-a0fb-fdfbdee94513"
          />
          <Card
              name="SKstarbreaker"
              href="skstarbreaker"
              uuid="729b7d68-e3b8-429a-90f6-ccf67fb9b6a8"
          />
          <Card
              name="GeorgeWBush1946"
              href="georgewbush1946"
              uuid="23cc19ab-6b90-4139-8f7a-7e76d5cb3267"
          />
          <Card
              name="xqcL"
              href="xqcl"
              uuid="9c5d9dc3-4ed5-443f-be7f-b981d256bf63"
          />
      </div>
      <div class="row">
          <Card
              name="Zyfur"
              href="zyfur"
              uuid="e85270fe-1e82-4bdc-aed0-1c541f572159"
          />
          <Card
              name="_Pengu__"
              href="pengu"
              uuid="6440d46c-1bc3-4305-9819-d9da36699ce8"
          />
          <Card
              name="chuzubb"
              href="chuzubb"
              uuid="6ac9c15f-6c31-473e-b14a-c7d48d0ea12f"
          />
          <Card
              name="Kaidonn"
              href="kaidonn"
              uuid="164917c2-9e5d-4d59-836c-30f7796b7fe0"
          />
      </div>
      <div class="row">
          <Card
              name="igomigo"
              href="igomigo"
              uuid="42eb5aef-7300-41e9-b8cc-66287ce874ed"
          />
          <Card
              name="muttonbuster8"
              href="muttonbuster8"
              uuid="b98b4bbe-7f5d-42b9-b9e0-4bc6afb5f6ec"
          />
          <Card
              name="McLukers"
              href="mclukers"
              uuid="1233064a-3f2c-4ba0-8326-69aec5f039c3"
          />
          <Card
              name="Foughtful"
              href="foughtful"
              uuid="6831f270-5816-490d-a21e-fc59a6504bb3"
          />
      </div>
      <div class="row">
          <Card
              name="awoah"
              href="awoah"
              uuid="21f226ee-52b1-4117-9a57-ef2047bc3da6"
          />
          <Card
              name="Perry____"
              href="perry____"
              uuid="bf622a6b-8c70-4f43-81e0-d6db44c60f73"
          />
          <Card
              name="TypicalDude"
              href="typicaldude"
              uuid="5a631d3a-c62e-40ff-a957-fd69ace60f40"
          />
          <Card
              name="7r1"
              href="7r1"
              uuid="f6721bb1-7cb2-4e98-ae03-a3502875d5f8"
          />
      </div>
      <div class="row">
          <Card
              name="Pskett"
              href="pskett"
              uuid="d3111acc-1c23-49da-99c0-ac7005e54c47"
          />
          <Card
              name="franko27"
              href="franko27"
              uuid="25f16e1a-712c-4746-8cda-73ac629adf3e"
          />
          <Card
              name="__Guard1an__"
              href="guard1an"
              uuid="1983dc35-375d-4392-9e6f-deac0ce543d5"
          />
          <Card
              name="ThatOtherPeep"
              href="thatotherpeep"
              uuid="627e9ff0-6889-41fc-9e1f-1b8918b54356"
          />
      </div>
      <div class="row">
          <Card
              name="Diamond_Miner245"
              href="diamond_miner245"
              uuid="c0fa0d9c-9979-4f63-a51e-1fda853489cb"
          />
          <Card
              name="BlueDiamondBoy11"
              href="bluediamondboy11"
              uuid="e0bf5c90-cfab-4f00-8554-24f301d3f7ce"
          />
          <Card
              name="Gevans"
              href="gevans"
              uuid="c1d4c1ed-fdf7-4654-8ebe-86febc25ea7a"
          />
          <Card
              name="ArmoredExplosive"
              href="armoredexplosive"
              uuid="f367c16c-aa99-406f-879c-92712cd0c646"
          />
      </div>
      <div class="row">
          <Card
              name="_Macspy_"
              href="macspy"
              uuid="ed31a83a-1855-4a9b-92d2-eaff7f700230"
          />
          <Card
              name="dmanPL"
              href="dmanpl"
              uuid="7205f4fb-6cab-4b5e-b2f6-c8d1fcff40c6"
          />
          <Card
              name="BugoutBoi"
              href="bugoutboi"
              uuid="603f9ea4-a88f-439c-9e85-8c670a310d4a"
          />
          <Card
              name="Rnad"
              href="rnad"
              uuid="d8623155-320f-4c09-a309-99961ae753d7"
          />
      </div>
      <div class="row">
          <Card
              name="Frost780"
              href="frost780"
              uuid="5e7dafca-ac46-47b0-a6f2-c0fd2ccfff60"
          />
          <Card
              name="KigMD"
              href="kigmd"
              uuid="eaa978a0-b9d9-4eb0-8323-dff468677a96"
          />
          <Card
              name="jamacias19"
              href="jamacias19"
              uuid="a903d356-9d5a-4ba1-94e3-acf0967d70e7"
          />
          <Card
              name="Zoreon_Zen"
              href="zoreon_zen"
              uuid="55d6be4f-c79b-450d-8a83-e1a955410617"
          />
      </div>
    </Season>
    <Season title='Pixel Craft Season 2' img='season_2' series='pixel-craft' id='PixelCraftSeason2Members' anchor='#Pixel-Craft-Season-2'>
      <div class="row">
          <Card
              name="Herobrain_gamer"
              href="herobrain_gamer"
              uuid="c8d6aeb2-caa6-4381-8815-330fe2677c98"
          />
          <Card
              name="Gardonn"
              href="gardonn"
              uuid="1f5a8782-79f2-4314-bd16-17fc3b084490"
          />
          <Card
              name="EggyLadd"
              href="eggyladd"
              uuid="8d87c4e6-7a31-4d2c-b07e-11ed8c4ed870"
          />
          <Card
              name="TheTrueDuality"
              href="thetrueduality"
              uuid="8895c3c2-5c10-484e-bcf2-cacf971cecef"
          />
      </div>
      <div class="row">
          <Card
              name="TooMuchStag"
              href="toomuchstag"
              uuid="9763f232-29d8-48b9-a2b0-8eba73033778"
          />
          <Card
              name="AnnyongB"
              href="annyongb"
              uuid="91983e64-aca1-4cc9-a0fb-fdfbdee94513"
          />
          <Card
              name="Butterminer200"
              href="butterminer200"
              uuid="802383cc-cb04-40ea-9587-4fec91de2133"
          />
          <Card
              name="midna_87"
              href="midna_87"
              uuid="e157ae19-db7d-4600-aeea-b2220b60ffa3"
          />
      </div>
      <div class="row">
          <Card
              name="Tanner_Marco"
              href="tanner_marco"
              uuid="706ef746-4c6c-4643-ba65-ed4f4c51836b"
          />
          <Card
              name="Iruka77"
              href="iruka77"
              uuid="fc19ba96-638c-4cbb-99a6-2e681dd802c8"
          />
          <Card
              name="CatSandWich999"
              href="catsandwich999"
              uuid="a6128257-d54b-4050-b0e3-659398331b8a"
          />
          <Card
              name="IItsBradyy"
              href="iitsbradyy"
              uuid="2ca5a0dc-ed41-4567-9b98-dab608e794a1"
          />
          <Card
              name="_Blaze_"
              href="blaze"
              uuid="497c2831-4d6b-49e7-a6c9-181c95840fea"
          />
      </div>
      <div class="row">
          <Card
              name="dieing"
              href="dieing"
              uuid="d027a9f7-666d-4cf1-91f7-63457606b4ed"
          />
          <Card
              name="SkyPixels21"
              href="skypixels21"
              uuid="f42b4c98-a6c3-43d0-b225-b4ce98d5aa75"
          />
          <Card
              name="iSkygraphics"
              href="iskygraphics"
              uuid="e6883d30-2a3e-471c-9842-00348ba128c4"
          />
          <Card
              name="Livvie24"
              href="livvie24"
              uuid="46671793-2693-4345-a1db-e0c58f198ba0"
          />
          <Card
              name="sparklevamp02"
              href="sparklevamp02"
              uuid="b9cb97d7-fefc-46f7-a7d1-a6600439dd8b"
          />
      </div>
    </Season>
    <Season title='Pixel Craft Season 1' img='season_1' series='pixel-craft' id='PixelCraftSeason1Members' anchor='#Pixel-Craft-Season-1'>
      <div class="row">
          <Card
              name="Herobrain_gamer"
              href="herobrain_gamer"
              uuid="c8d6aeb2-caa6-4381-8815-330fe2677c98"
          />
          <Card
              name="midna_87"
              href="midna_87"
              uuid="e157ae19-db7d-4600-aeea-b2220b60ffa3"
          />
          <Card
              name="Gardonn"
              href="gardonn"
              uuid="1f5a8782-79f2-4314-bd16-17fc3b084490"
          />
          <Card
              name="EggyLadd"
              href="eggyladd"
              uuid="8d87c4e6-7a31-4d2c-b07e-11ed8c4ed870"
          />
      </div>
    </Season>
  </div>
  <div class="col justify-content-center">
    <Season title='Pixel Modded Season 4' img='season_4' series='pixel-modded' id='PixelModdedSeason4Members' anchor='#Pixel-Modded-Season-4'>
      <div class="row">
          <Card
              name="Herobrain_gamer"
              href="herobrain_gamer"
              uuid="c8d6aeb2-caa6-4381-8815-330fe2677c98"
          />
          <Card
              name="EggyLadd"
              href="eggyladd"
              uuid="8d87c4e6-7a31-4d2c-b07e-11ed8c4ed870"
          />
          <Card
              name="zackman1291"
              href="zackman1291"
              uuid="f9fd52a3-18aa-4551-8cda-8b1c76aa44fe"
          />
          <Card
              name="Nik_Storey"
              href="nik_storey"
              uuid="48dae462-73c3-4b00-bd39-2f56fd1e6499"
          />
      </div>
      <div class="row">
          <Card
              name="ComradeAutismo"
              href="comradeautismo"
              uuid="d7d9d2fc-e03d-42fc-b190-f141dbedd346"
          />
          <Card
              name="Gardonn"
              href="gardonn"
              uuid="1f5a8782-79f2-4314-bd16-17fc3b084490"
          />
          <Card
              name="seonbwii"
              href="seonbwii"
              uuid="16996eab-a965-4cbe-8689-c3dd44f0f7cd"
          />
          <Card
              name="TheTrueDuality"
              href="thetrueduality"
              uuid="8895c3c2-5c10-484e-bcf2-cacf971cecef"
          />
      </div>
      <div class="row">
          <Card
              name="oDdLy_eNdEd"
              href="oddly_ended"
              uuid="88155d9e-fe23-4bc6-99e7-4509ff9e4b18"
          />
          <Card
              name="Radical_MC"
              href="radical_mc"
              uuid="e3e955d3-0de4-4597-8b89-56999cc16575"
          />
          <Card
              name="Squiggy_Cryptid"
              href="squiggy_cryptid"
              uuid="8431dd80-7127-456e-a581-a28d211e71b5"
          />
      </div>
    </Season>
    <Season title='Pixel Modded Season 3' img='season_3' series='pixel-modded' id='PixelModdedSeason3Members' anchor='#Pixel-Modded-Season-3'>
      <div class="row">
          <Card
              name="Herobrain_gamer"
              href="herobrain_gamer"
              uuid="c8d6aeb2-caa6-4381-8815-330fe2677c98"
          />
          <Card
              name="EggyLadd"
              href="eggyladd"
              uuid="8d87c4e6-7a31-4d2c-b07e-11ed8c4ed870"
          />
          <Card
              name="zackman1291"
              href="zackman1291"
              uuid="f9fd52a3-18aa-4551-8cda-8b1c76aa44fe"
          />
          <Card
              name="AnnyongB"
              href="annyongb"
              uuid="91983e64-aca1-4cc9-a0fb-fdfbdee94513"
          />
      </div>
      <div class="row">
          <Card
              name="Bear_Mohawk"
              href="bear_mohawk"
              uuid="59f11d94-5609-4baa-8eb4-08238f3167c6"
          />
          <Card
              name="Stranqe_People"
              href="stranqe_people"
              uuid="6ca8c783-727d-4222-a75e-ad36c0a22996"
          />
          <Card
              name="WulfDemon"
              href="wulfdemon"
              uuid="e9bbcd09-ea2f-4055-b39d-5f5dd0d06259"
          />
          <Card
              name="Nik_Storey"
              href="nik_storey"
              uuid="48dae462-73c3-4b00-bd39-2f56fd1e6499"
          />
      </div>
      <div class="row">
          <Card
              name="ComradeAutismo"
              href="comradeautismo"
              uuid="d7d9d2fc-e03d-42fc-b190-f141dbedd346"
          />
          <Card
              name="Gardonn"
              href="gardonn"
              uuid="1f5a8782-79f2-4314-bd16-17fc3b084490"
          />
          <Card
              name="seonbwii"
              href="seonbwii"
              uuid="16996eab-a965-4cbe-8689-c3dd44f0f7cd"
          />
      </div>
    </Season>
    <Season title='Pixel Modded Season 2' img='season_2' series='pixel-modded' id='PixelModdedSeason2Members' anchor='#Pixel-Modded-Season-2'>
      <div class="row">
          <Card
              name="Herobrain_gamer"
              href="herobrain_gamer"
              uuid="c8d6aeb2-caa6-4381-8815-330fe2677c98"
          />
          <Card
              name="EggyLadd"
              href="eggyladd"
              uuid="8d87c4e6-7a31-4d2c-b07e-11ed8c4ed870"
          />
          <Card
              name="zackman1291"
              href="zackman1291"
              uuid="f9fd52a3-18aa-4551-8cda-8b1c76aa44fe"
          />
          <Card
              name="Gardonn"
              href="gardonn"
              uuid="1f5a8782-79f2-4314-bd16-17fc3b084490"
          />
      </div>
      <div class="row">
          <Card
              name="ComradeAutismo"
              href="comradeautismo"
              uuid="d7d9d2fc-e03d-42fc-b190-f141dbedd346"
          />
          <Card
              name="TheTrueDuality"
              href="thetrueduality"
              uuid="8895c3c2-5c10-484e-bcf2-cacf971cecef"
          />
          <Card
              name="Cool_Rock_Pic"
              href="cool_rock_pic"
              uuid="b2c7df75-f93f-4281-b595-27e163bee316"
          />
          <Card
              name="Phroggers_MC"
              href="phroggers_mc"
              uuid="82ed6162-180f-4010-8965-4f9d0c62b775"
          />
      </div>
      <div class="row">
          <Card
              name="KatieBear88"
              href="katiebear88"
              uuid="5cc9b9c3-3983-4f86-930c-31e67977a4eb"
          />
          <Card
              name="Tiwborn"
              href="tiwborn"
              uuid="e91db4f9-dd51-48b1-a421-5a131847659e"
          />
          <Card
              name="Bear_Mohawk"
              href="bear_mohawk"
              uuid="59f11d94-5609-4baa-8eb4-08238f3167c6"
          />
          <Card
              name="Stranqe_People"
              href="stranqe_people"
              uuid="6ca8c783-727d-4222-a75e-ad36c0a22996"
          />
          <Card
              name="WulfDemon"
              href="wulfdemon"
              uuid="e9bbcd09-ea2f-4055-b39d-5f5dd0d06259"
          />
      </div>
    </Season>
    <Season title='Pixel Modded Season 1' img='season_1' series='pixel-modded' id='PixelModdedSeason1Members' anchor='#Pixel-Modded-Season-1'>
      <div class="row">
          <Card
              name="Herobrain_gamer"
              href="herobrain_gamer"
              uuid="c8d6aeb2-caa6-4381-8815-330fe2677c98"
          />
          <Card
              name="IItsBradyy"
              href="iitsbradyy"
              uuid="2ca5a0dc-ed41-4567-9b98-dab608e794a1"
          />
          <Card
              name="midna_87"
              href="midna_87"
              uuid="e157ae19-db7d-4600-aeea-b2220b60ffa3"
          />
      </div>
    </Season>
  </div>
  <div class="col justify-content-center">
    <Season title='All Pixel Series' img='pixelseries_members_all' series='icons' id='PixelSeriesAllMembers' anchor='#All'>
      <div class="row">
          <Card
              name="Herobrain_gamer"
              href="herobrain_gamer"
              uuid="c8d6aeb2-caa6-4381-8815-330fe2677c98"
          />
          <Card
              name="IItsBradyy"
              href="iitsbradyy"
              uuid="2ca5a0dc-ed41-4567-9b98-dab608e794a1"
          />
          <Card
              name="midna_87"
              href="midna_87"
              uuid="e157ae19-db7d-4600-aeea-b2220b60ffa3"
          />
          <Card
              name="Gardonn"
              href="gardonn"
              uuid="1f5a8782-79f2-4314-bd16-17fc3b084490"
          />
      </div>
      <div class="row">
          <Card
              name="EggyLadd"
              href="eggyladd"
              uuid="8d87c4e6-7a31-4d2c-b07e-11ed8c4ed870"
          />
          <Card
              name="TheTrueDuality"
              href="thetrueduality"
              uuid="8895c3c2-5c10-484e-bcf2-cacf971cecef"
          />
          <Card
              name="TooMuchStag"
              href="toomuchstag"
              uuid="9763f232-29d8-48b9-a2b0-8eba73033778"
          />
          <Card
              name="AnnyongB"
              href="annyongb"
              uuid="91983e64-aca1-4cc9-a0fb-fdfbdee94513"
          />
      </div>
      <div class="row">
          <Card
              name="Butterminer200"
              href="butterminer200"
              uuid="802383cc-cb04-40ea-9587-4fec91de2133"
          />
          <Card
              name="Tanner_Marco"
              href="tanner_marco"
              uuid="706ef746-4c6c-4643-ba65-ed4f4c51836b"
          />
          <Card
              name="Iruka77"
              href="iruka77"
              uuid="fc19ba96-638c-4cbb-99a6-2e681dd802c8"
          />
          <Card
              name="CatSandWich999"
              href="catsandwich999"
              uuid="a6128257-d54b-4050-b0e3-659398331b8a"
          />
      </div>
      <div class="row">
          <Card
              name="_Blaze_"
              href="blaze"
              uuid="497c2831-4d6b-49e7-a6c9-181c95840fea"
          />
          <Card
              name="dieing"
              href="dieing"
              uuid="d027a9f7-666d-4cf1-91f7-63457606b4ed"
          />
          <Card
              name="SkyPixels21"
              href="skypixels21"
              uuid="f42b4c98-a6c3-43d0-b225-b4ce98d5aa75"
          />
          <Card
              name="iSkygraphics"
              href="iskygraphics"
              uuid="e6883d30-2a3e-471c-9842-00348ba128c4"
          />
      </div>
      <div class="row">
          <Card
              name="Livvie24"
              href="livvie24"
              uuid="46671793-2693-4345-a1db-e0c58f198ba0"
          />
          <Card
              name="sparklevamp02"
              href="sparklevamp02"
              uuid="b9cb97d7-fefc-46f7-a7d1-a6600439dd8b"
          />
          <Card
              name="zackman1291"
              href="zackman1291"
              uuid="f9fd52a3-18aa-4551-8cda-8b1c76aa44fe"
          />
          <Card
              name="HellSubjection"
              href="hellsubjection"
              uuid="37fdf820-90cc-4f7e-a09a-d58279214f30"
          />
      </div>
      <div class="row">
          <Card
              name="KatieBear88"
              href="katiebear88"
              uuid="5cc9b9c3-3983-4f86-930c-31e67977a4eb"
          />
          <Card
              name="Bear_Mohawk"
              href="bear_mohawk"
              uuid="59f11d94-5609-4baa-8eb4-08238f3167c6"
          />
          <Card
              name="Stranqe_People"
              href="stranqe_people"
              uuid="6ca8c783-727d-4222-a75e-ad36c0a22996"
          />
          <Card
              name="WulfDemon"
              href="wulfdemon"
              uuid="e9bbcd09-ea2f-4055-b39d-5f5dd0d06259"
          />
      </div>
      <div class="row">
          <Card
              name="Chroifala"
              href="chroifala"
              uuid="257d3052-560a-4f97-8265-b24bb07855f0"
          />
          <Card
              name="MasterZent"
              href="masterzent"
              uuid="cda05d88-8138-4f9a-b94f-72ff937b6560"
          />
          <Card
              name="BurningOrphans"
              href="burningorphans"
              uuid="3e56daf4-979e-4670-9fdc-60e813437dfb"
          />
          <Card
              name="SKstarbreaker"
              href="skstarbreaker"
              uuid="729b7d68-e3b8-429a-90f6-ccf67fb9b6a8"
          />
      </div>
      <div class="row">
          <Card
              name="GeorgeWBush1946"
              href="georgewbush1946"
              uuid="23cc19ab-6b90-4139-8f7a-7e76d5cb3267"
          />
          <Card
              name="xqcL"
              href="xqcl"
              uuid="9c5d9dc3-4ed5-443f-be7f-b981d256bf63"
          />
          <Card
              name="Zyfur"
              href="zyfur"
              uuid="e85270fe-1e82-4bdc-aed0-1c541f572159"
          />
          <Card
              name="_Pengu__"
              href="pengu"
              uuid="6440d46c-1bc3-4305-9819-d9da36699ce8"
          />
      </div>
      <div class="row">
          <Card
              name="chuzubb"
              href="chuzubb"
              uuid="6ac9c15f-6c31-473e-b14a-c7d48d0ea12f"
          />
          <Card
              name="Kaidonn"
              href="kaidonn"
              uuid="164917c2-9e5d-4d59-836c-30f7796b7fe0"
          />
          <Card
              name="igomigo"
              href="igomigo"
              uuid="42eb5aef-7300-41e9-b8cc-66287ce874ed"
          />
          <Card
              name="muttonbuster8"
              href="muttonbuster8"
              uuid="b98b4bbe-7f5d-42b9-b9e0-4bc6afb5f6ec"
          />
      </div>
      <div class="row">
          <Card
              name="McLukers"
              href="mclukers"
              uuid="1233064a-3f2c-4ba0-8326-69aec5f039c3"
          />
          <Card
              name="Foughtful"
              href="foughtful"
              uuid="6831f270-5816-490d-a21e-fc59a6504bb3"
          />
          <Card
              name="awoah"
              href="awoah"
              uuid="21f226ee-52b1-4117-9a57-ef2047bc3da6"
          />
          <Card
              name="Perry____"
              href="perry____"
              uuid="bf622a6b-8c70-4f43-81e0-d6db44c60f73"
          />
      </div>
      <div class="row">
          <Card
              name="TypicalDude"
              href="typicaldude"
              uuid="5a631d3a-c62e-40ff-a957-fd69ace60f40"
          />
          <Card
              name="7r1"
              href="7r1"
              uuid="f6721bb1-7cb2-4e98-ae03-a3502875d5f8"
          />
          <Card
              name="Pskett"
              href="pskett"
              uuid="d3111acc-1c23-49da-99c0-ac7005e54c47"
          />
          <Card
              name="franko27"
              href="franko27"
              uuid="25f16e1a-712c-4746-8cda-73ac629adf3e"
          />
      </div>
      <div class="row">
          <Card
              name="__Guard1an__"
              href="guard1an"
              uuid="1983dc35-375d-4392-9e6f-deac0ce543d5"
          />
          <Card
              name="ThatOtherPeep"
              href="thatotherpeep"
              uuid="627e9ff0-6889-41fc-9e1f-1b8918b54356"
          />
          <Card
              name="Diamond_Miner245"
              href="diamond_miner245"
              uuid="c0fa0d9c-9979-4f63-a51e-1fda853489cb"
          />
          <Card
              name="BlueDiamondBoy11"
              href="bluediamondboy11"
              uuid="e0bf5c90-cfab-4f00-8554-24f301d3f7ce"
          />
      </div>
      <div class="row">
          <Card
              name="Gevans"
              href="gevans"
              uuid="c1d4c1ed-fdf7-4654-8ebe-86febc25ea7a"
          />
          <Card
              name="ArmoredExplosive"
              href="armoredexplosive"
              uuid="f367c16c-aa99-406f-879c-92712cd0c646"
          />
          <Card
              name="_Macspy_"
              href="macspy"
              uuid="ed31a83a-1855-4a9b-92d2-eaff7f700230"
          />
          <Card
              name="dmanPL"
              href="dmanpl"
              uuid="7205f4fb-6cab-4b5e-b2f6-c8d1fcff40c6"
          />
      </div>
      <div class="row">
          <Card
              name="BugoutBoi"
              href="bugoutboi"
              uuid="603f9ea4-a88f-439c-9e85-8c670a310d4a"
          />
          <Card
              name="Rnad"
              href="rnad"
              uuid="d8623155-320f-4c09-a309-99961ae753d7"
          />
          <Card
              name="Frost780"
              href="frost780"
              uuid="5e7dafca-ac46-47b0-a6f2-c0fd2ccfff60"
          />
          <Card
              name="KigMD"
              href="kigmd"
              uuid="eaa978a0-b9d9-4eb0-8323-dff468677a96"
          />
      </div>
      <div class="row">
          <Card
              name="jamacias19"
              href="jamacias19"
              uuid="a903d356-9d5a-4ba1-94e3-acf0967d70e7"
          />
          <Card
              name="Zoreon_Zen"
              href="zoreon_zen"
              uuid="55d6be4f-c79b-450d-8a83-e1a955410617"
          />
          <Card
              name="ComradeAutismo"
              href="comradeautismo"
              uuid="d7d9d2fc-e03d-42fc-b190-f141dbedd346"
          />
          <Card
              name="Cool_Rock_Pic"
              href="cool_rock_pic"
              uuid="b2c7df75-f93f-4281-b595-27e163bee316"
          />
      </div>
      <div class="row">
          <Card
              name="Phroggers_MC"
              href="phroggers_mc"
              uuid="82ed6162-180f-4010-8965-4f9d0c62b775"
          />
          <Card
              name="Tiwborn"
              href="tiwborn"
              uuid="e91db4f9-dd51-48b1-a421-5a131847659e"
          />
          <Card
              name="Nik_Storey"
              href="nik_storey"
              uuid="48dae462-73c3-4b00-bd39-2f56fd1e6499"
          />
          <Card
              name="seonbwii"
              href="seonbwii"
              uuid="16996eab-a965-4cbe-8689-c3dd44f0f7cd"
          />
      </div>
      <div class="row">
          <Card
              name="czerczer"
              href="czerczer"
              uuid="b985cbd4-4ed5-4248-a7bb-c36484cc5940"
          />
          <Card
              name="nerdnation454"
              href="nerdnation454"
              uuid="7e81a4a3-08a1-431f-a515-5fa6e1fce2b9"
          />
          <Card
              name="MainManQuince"
              href="mainmanquince"
              uuid="0a61ee20-8996-436b-b27f-70b8e0d8118c"
          />
          <Card
              name="Lemayz"
              href="lemayz"
              uuid="20195512-068d-4949-815e-8b378dcd0d19"
          />
      </div>
      <div class="row">
          <Card
              name="PeachyPugs"
              href="peachypugs"
              uuid="f191626b-ff3a-455a-84dc-e4acee7a6fae"
          />
          <Card
              name="SLRvoid"
              href="slrvoid"
              uuid="b0d71c73-920c-40f4-bc1a-543d00d197a8"
          />
          <Card
              name="Matth3w404"
              href="matth3w404"
              uuid="24631263-19d9-44a1-ba2c-9f6a2c3542fa"
          />
          <Card
              name="beth1qw"
              href="beth1qw"
              uuid="2ea5d02e-3406-416d-af29-b79b97cbe4d4"
          />
      </div>
      <div class="row">
          <Card
              name="KitteeKat115"
              href="kitteekat115"
              uuid="9aa71525-3097-4fc4-a9d7-3209a8cdf6fa"
          />
          <Card
              name="Squiggy_Cryptid"
              href="squiggy_cryptid"
              uuid="8431dd80-7127-456e-a581-a28d211e71b5"
          />
          <Card
              name="ThermalBucket41"
              href="thermalbucket41"
              uuid="c9dc009c-862e-4386-a61d-618a0a432ad5"
          />
          <Card
              name="yeahbox"
              href="yeahbox"
              uuid="8e956296-9ad5-4db5-804c-9ed93f858b05"
          />
      </div>
      <div class="row">
          <Card
              name="Nave1803"
              href="nave1803"
              uuid="775fa597-bc4f-4a0c-bec6-c149b261c1be"
          />
          <Card
              name="Stansh02"
              href="stansh02"
              uuid="c938a98d-127c-40fc-9ccb-c5df2ecd2b58"
          />
          <Card
              name="Lucidrosez"
              href="lucidrosez"
              uuid="c3493741-123e-462e-882d-ce66c299201e"
          />
          <Card
              name="Dain_Fa"
              href="dain_fa"
              uuid="a9e46d77-f064-46f6-9dfd-c7cba268c4ed"
          />
      </div>
      <div class="row">
          <Card
              name="Zoaraym"
              href="zoaraym"
              uuid="3c22af25-55e8-4062-ae50-d53e7ce1fa9f"
          />
          <Card
              name="CrustyBird"
              href="crustybird"
              uuid="3ea62c30-e9a7-4baa-80af-924a497cb37d"
          />
          <Card
              name="ApparitionX27"
              href="apparitionx27"
              uuid="7fcc9e0a-6b23-464a-9791-45561de304e3"
          />
          <Card
              name="OGKnightBro94"
              href="ogknightbro94"
              uuid="7a52db1e-9209-40b7-9dbe-d8b4b2043a17"
          />
      </div>
      <div class="row">
          <Card
              name="Timber_Awoo"
              href="timber_awoo"
              uuid="93fbb9bd-16c3-4a4c-ac1f-565d717ca389"
          />
          <Card
              name="X_Cygnus_X"
              href="x_cygnus_x"
              uuid="8ad92a3c-26e0-4b58-a464-94a0a2efd69f"
          />
          <Card
              name="TKatra"
              href="tkatra"
              uuid="43616ce7-c596-460e-8240-b457ccce630f"
          />
          <Card
              name="Qwispy_Spyderz"
              href="qwispy_spyderz"
              uuid="11011535-8cff-4c7b-944d-55c0a279e742"
          />
      </div>
      <div class="row">
          <Card
              name="the_sharktooth"
              href="the_sharktooth"
              uuid="20da66b2-c0de-48a2-b57d-6e6cfe7d5a54"
          />
          <Card
              name="Aki_Ryuto"
              href="aki_ryuto"
              uuid="8346118d-296a-4e7c-a1df-3e88debefa29"
          />
          <Card
              name="ChaosCreature4K"
              href="chaoscreature4k"
              uuid="dedc3f36-bb98-49a0-a9e2-d6a474f355c5"
          />
          <Card
              name="ArtisticArnie"
              href="artisticarnie"
              uuid="3885722f-3aab-493d-a45b-92694fd3f1a4"
          />
          <Card
            name="icecreammosh"
            href="icecreammosh"
            uuid="8fbc1542-3428-4f2f-b815-0373712995e3"
          />
          <Card
            name="Lockness666"
            href="lockness666"
            uuid="d896cfe0-0845-4157-9bab-624ef734e686"
          />
      </div>
    </Season>
  </div>
</Layout>

<style>
  .primary-title {
    /*border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;*/
    padding: 10px;
    /*background: rgba(51, 51, 51, 0.5);*/
  }
  .primary-title > .header-logo {
    width: 60%;
    height: auto;
  }
  .secondary-title > .header-logo {
    width: 60%;
    height: auto;
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }

  .showHeads {
    border: none;
    border-width: 3px;
    border-style: solid;
    border-radius: 7px;
    border-color: lightgray;
    background: rgba(51, 51, 51, 0.1);
    font-size: 20px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
  }
  .showHeads:hover {
    background: rgba(51, 51, 51, 0.7);
    color: lime;
  }
</style>

<script>
  //Run This Function Once The DOM Content Has Loaded.
  document.addEventListener("DOMContentLoaded", startUp);
  
  //Variables.
  const PixelSeriesAll = document.getElementById("PixelSeriesAllMembers");
  const PixelCraftSeason1 = document.getElementById("PixelCraftSeason1Members");
  const PixelCraftSeason2 = document.getElementById("PixelCraftSeason2Members");
  const PixelCraftSeason3 = document.getElementById("PixelCraftSeason3Members");
  const PixelCraftSeason4 = document.getElementById("PixelCraftSeason4Members");
  const PixelCraftSeason5 = document.getElementById("PixelCraftSeason5Members");
  const PixelCraftSeason6 = document.getElementById("PixelCraftSeason6Members");
  const PixelModdedSeason1 = document.getElementById("PixelModdedSeason1Members");
  const PixelModdedSeason2 = document.getElementById("PixelModdedSeason2Members");
  const PixelModdedSeason3 = document.getElementById("PixelModdedSeason3Members");
  const PixelModdedSeason4 = document.getElementById("PixelModdedSeason4Members");

  //OnClick events for the buttons.
  document.getElementById("PixelCraftSeason1Button").onclick = () => {
    openClose(PixelCraftSeason1);
  }
  document.getElementById("PixelCraftSeason2Button").onclick = () => {
    openClose(PixelCraftSeason2);
  }
  document.getElementById("PixelCraftSeason3Button").onclick = () => {
    openClose(PixelCraftSeason3);
  }
  document.getElementById("PixelCraftSeason4Button").onclick = () => {
    openClose(PixelCraftSeason4);
  }
  document.getElementById("PixelCraftSeason5Button").onclick = () => {
    openClose(PixelCraftSeason5);
  }
  document.getElementById("PixelCraftSeason6Button").onclick = () => {
    openClose(PixelCraftSeason6);
  }
  document.getElementById("PixelModdedSeason1Button").onclick = () => {
    openClose(PixelModdedSeason1);
  }
  document.getElementById("PixelModdedSeason2Button").onclick = () => {
    openClose(PixelModdedSeason2);
  }
  document.getElementById("PixelModdedSeason3Button").onclick = () => {
    openClose(PixelModdedSeason3);
  }
  document.getElementById("PixelModdedSeason4Button").onclick = () => {
    openClose(PixelModdedSeason4);
  }

  //Setup for the Members Page.
  function startUp() {
      //Changing the Display value of the Elements.
      hideBlocks();
      PixelCraftSeason6.style.display = "block";
      //Checking For Valid URL Anchor.
      anchorCheck();
      console.log("There are " + document.getElementById("PixelSeriesAllMembers").getElementsByClassName("card-info").length + " members total.")
  }

  //Set all Elements to be Hidden.
  function hideBlocks() {
    PixelSeriesAll.style.display = "none";
    PixelCraftSeason1.style.display = "none";
    PixelCraftSeason2.style.display = "none";
    PixelCraftSeason3.style.display = "none";
    PixelCraftSeason4.style.display = "none";
    PixelCraftSeason5.style.display = "none";
    PixelCraftSeason6.style.display = "none";
    PixelModdedSeason1.style.display = "none";
    PixelModdedSeason2.style.display = "none";
    PixelModdedSeason3.style.display = "none";
    PixelModdedSeason4.style.display = "none";
  }

  //Change Display of One Element.
  function openClose(name) {
    hideBlocks();
    if(name.style.display === "none") {
      name.style.display = "block";
    } else {
      name.style.display = "none";
    }
  }

  //Anchor Checking On Page Load.
  function anchorCheck() {
    //Variables.
    let lhash = location.hash.toLocaleLowerCase();
    let hash = lhash.replace("#", "");

    //Check the anchors/hashs.
    if(!hash) {
      openClose(PixelCraftSeason6);
    } else {
      switch(hash) {
        case "pixel-craft-season-1":
          openClose(PixelCraftSeason1);
          break;
        case "pixel-craft-season-2":
          openClose(PixelCraftSeason2);
          break;
        case "pixel-craft-season-3":
          openClose(PixelCraftSeason3);
          break;
        case "pixel-craft-season-4":
          openClose(PixelCraftSeason4);
          break;
        case "pixel-craft-season-5":
          openClose(PixelCraftSeason5);
          break;
        case "pixel-craft-season-6":
          openClose(PixelCraftSeason6);
          break;
        case "pixel-modded-season-1":
          openClose(PixelModdedSeason1);
          break;
        case "pixel-modded-season-2":
          openClose(PixelModdedSeason2);
          break;
        case "pixel-modded-season-3":
          openClose(PixelModdedSeason3);
          break;
        case "pixel-modded-season-4":
          openClose(PixelModdedSeason4);
          break;
        case "all":
          openClose(PixelSeriesAll);
          break;
        default:
          openClose(PixelCraftSeason6);
      }
    }
  }
</script>