---
import Layout from '../layouts/FrontPage.astro';
---

<Layout title='Redirecting. . . - Pixel Series'>
  <div class="col justify-content-center text-center">
    <h1>This page will change shortly...</h1>
    <img src="/images/icons/doggo.gif" alt="A doggo 'swimming' gif."/>
    <a class="page" href="/">
      <p>If it does not change click here.</p>
    </a>
  </div>
</Layout>

<style>
  .page {
    color: white;
    font-size: large;
    text-decoration: none;
  }
  .page:hover {
    color: purple;
    text-decoration: underline;
  }
</style>

<script>
  //Run this function once the DOM Content has loaded.
  document.addEventListener("DOMContentLoaded", anchorCheck);

  //Checking the anchro on the page.
  function anchorCheck() {
    //Hash varaible.
    let lhash = location.hash.toLocaleLowerCase();
    let hash = lhash.replace("#", "");
    console.log(hash)

    //Check to see if there is a hash/anchor on the page.
    if(!hash) {
      //If no hash found return to main page.
      location.replace("/");
    } else {
      //If has is found check agains our list of working hashs.
      switch (hash) {
        //Members Links.
        case "herobrain_gamer":
          location.replace("/members/herobrain_gamer/");
          break;
        case "willongnose":
          location.replace("/members/herobrain_gamer/");
          break;
        case "iitsbradyy":
          location.replace("/members/iitsbradyy/");
          break;
        case "midna_87":
          location.replace("/members/midna_87/");
          break;
        case "gardonn":
          location.replace("/members/gardonn/");
          break;
        case "eggyladd":
          location.replace("/members/eggyladd/");
          break;
        case "thetrueduality":
          location.replace("/members/thetrueduality/");
          break;
        case "wolfcat01":
          location.replace("/members/thetrueduality/");
          break;
        case "toomuchstag":
          location.replace("/members/toomuchstag/");
          break;
        case "annyongb":
          location.replace("/members/annyongb/");
          break;
        case "butterminer200":
          location.replace("/members/butterminer200/");
          break;
        case "tanner_marco":
          location.replace("/members/tanner_marco/");
          break;
        case "iruka77":
          location.replace("/members/iruka77/");
          break;
        case "catsandwich999":
          location.replace("/members/catsandwich999/");
          break;
        case "_blaze_":
          location.replace("/members/blaze/");
          break;
        case "blaze":
          location.replace("/members/blaze/");
          break;
        case "dieing":
          location.replace("/members/dieing/");
          break;
        case "skypixels21":
          location.replace("/members/skypixels21/");
          break;
        case "thetrueduality":
          location.replace("/members/thetrueduality/");
          break;
        case "iskygraphics":
          location.replace("/members/iskygraphics/");
          break;
        case "livvie24":
          location.replace("/members/livvie24/");
          break;
        case "sparklevamp02":
          location.replace("/members/sparklevamp02/");
          break;
        case "zackman1291":
          location.replace("/members/zackman1291/");
          break;
        case "zackman129":
          location.replace("/members/zackman1291/");
          break;
        case "hellsubjection":
          location.replace("/members/hellsubjection/");
          break;
        case "katiebear88":
          location.replace("/members/katiebear88/");
          break;
        case "bear_mohawk":
          location.replace("/members/bear_mohawk/");
          break;
        case "stranqe_people":
          location.replace("/members/stranqe_people/");
          break;
        case "wulfdemon":
          location.replace("/members/wulfdemon/");
          break;
        case "chroifala":
          location.replace("/members/chroifala/");
          break;
        case "masterzent":
          location.replace("/members/masterzent/");
          break;
        case "zaag97":
          location.replace("/members/masterzent/");
          break;
        case "burningorphans":
          location.replace("/members/burningorphans/");
          break;
        case "skstarbreaker":
          location.replace("/members/skstarbreaker/");
          break;
        case "georgewbush1946":
          location.replace("/members/georgewbush1946/");
          break;
        case "xqcl":
          location.replace("/members/xqcl/");
          break;
        case "zyfur":
          location.replace("/members/zyfur/");
          break;
        case "_pengu__":
          location.replace("/members/pengu/");
          break;
        case "pengu":
          location.replace("/members/pengu/");
          break;
        case "chuzubb":
          location.replace("/members/chuzubb/");
          break;
        case "kaidonn":
          location.replace("/members/kaidonn/");
          break;
        case "igomigo":
          location.replace("/members/igomigo/");
          break;
        case "muttonbuster8":
          location.replace("/members/muttonbuster8/");
          break;
        case "mclukers":
          location.replace("/members/mclukers/");
          break;
        case "foughtful":
          location.replace("/members/foughtful/");
          break;
        case "awoah":
          location.replace("/members/awoah/");
          break;
        case "perry____":
          location.replace("/members/perry____/");
          break;
        case "typicaldude":
          location.replace("/members/typicaldude/");
          break;
        case "7r1":
          location.replace("/members/7r1/");
          break;
        case "pskett":
          location.replace("/members/pskett/");
          break;
        case "franko27":
          location.replace("/members/franko27/");
          break;
        case "__guard1an__":
          location.replace("/members/guard1an/");
          break;
        case "guard1an":
          location.replace("/members/guard1an/");
          break;
        case "thatotherpeep":
          location.replace("/members/thatotherpeep/");
          break;
        case "diamond_miner245":
          location.replace("/members/diamond_miner245/");
          break;
        case "bluediamondboy11":
          location.replace("/members/bluediamondboy11/");
          break;
        case "gevans":
          location.replace("/members/gevans/");
          break;
        case "armoredexplosive":
          location.replace("/members/armoredexplosive/");
          break;
        case "_macspy_":
          location.replace("/members/macspy/");
          break;
        case "macspy":
          location.replace("/members/macspy/");
          break;
        case "dmanpl":
          location.replace("/members/dmanpl/");
          break;
        case "bugoutboi":
          location.replace("/members/bugoutboi/");
          break;
        case "rnad":
          location.replace("/members/rnad/");
          break;
        case "frost780":
          location.replace("/members/frost780/");
          break;
        case "kigmd":
          location.replace("/members/kigmd/");
          break;
        case "jamacias19":
          location.replace("/members/jamacias19/");
          break;
        case "zoreon_zen":
          location.replace("/members/zoreon_zen/");
          break;
        case "comradeautismo":
          location.replace("/members/comradeautismo/");
          break;
        case "cool_rock_pic":
          location.replace("/members/cool_rock_pic/");
          break;
        case "phroggers_mc":
          location.replace("/members/phroggers_mc/");
          break;
        case "tiwborn":
          location.replace("/members/tiwborn/");
          break;
        case "nik_storey":
          location.replace("/members/nik_storey/");
          break;
        case "seonbwii":
          location.replace("/members/seonbwii/");
          break;
        case "czerczer":
          location.replace("/members/czerczer/");
          break;
        case "nerdnation454":
          location.replace("/members/nerdnation454/");
          break;
        case "mainmanquince":
          location.replace("/members/mainmanquince/");
          break;
        case "lemayz":
          location.replace("/members/lemayz/");
          break;
        case "peachypugs":
          location.replace("/members/peachypugs/");
          break;
        case "slrvoid":
          location.replace("/members/slrvoid/");
          break;
        case "matth3w404":
          location.replace("/members/matth3w404/");
          break;
        case "beth1qw":
          location.replace("/members/beth1qw/");
          break;
        case "kitteekat115":
          location.replace("/members/kitteekat115/");
          break;
        case "squiggy_cryptid":
          location.replace("/members/squiggy_cryptid/");
          break;
        case "thermalbucket41":
          location.replace("/members/thermalbucket41/");
          break;
        case "yeahbox":
          location.replace("/members/yeahbox/");
          break;
        case "nave1803":
          location.replace("/members/nave1803/");
          break;
        case "stansh02":
          location.replace("/members/stansh02/");
          break;
        case "lucidrosez":
          location.replace("/members/lucidrosez/");
          break;
        case "dain_fa":
          location.replace("/members/dain_fa/");
          break;
        case "zoaraym":
          location.replace("/members/zoaraym/");
          break;
        case "crustybird":
          location.replace("/members/crustybird/");
          break;
        case "apparitionx27":
          location.replace("/members/apparitionx27/");
          break;
        case "ogknightbro94":
          location.replace("/members/ogknightbro94/");
          break;
        case "timber_awoo":
          location.replace("/members/timber_awoo/");
          break;
        case "x_cygnus_x":
          location.replace("/members/x_cygnus_x/");
          break;
        case "tkatra":
          location.replace("/members/tkatra/");
          break;
        case "qwispy_spyderz":
          location.replace("/members/qwispy_spyderz/");
          break;
        case "the_sharktooth":
          location.replace("/members/the_sharktooth/");
          break;
        case "aki_ryuto":
          location.replace("/members/aki_ryuto/");
          break;
        case "chaoscreature4k":
          location.replace("/members/chaoscreature4k/");
          break;
        case "artisticarnie":
          location.replace("/members/artisticarnie/");
          break;
        //Pixel Craft Links.
        case "pixel-craft-map":
          location.replace("/pixel-craft/map/");
          break;
        case "pcmap":
          location.replace("/pixel-craft/map/");
          break;
        case "pixel-craft-season-6":
          location.replace("/pixel-craft/season-6/");
          break;
        case "pcs6":
          location.replace("/pixel-craft/season-6/");
          break;
        case "pixel-craft-season-5":
          location.replace("/pixel-craft/season-5/");
          break;
        case "pcs5":
          location.replace("/pixel-craft/season-5/");
          break;
        case "pixel-craft-season-4":
          location.replace("/pixel-craft/season-4/");
          break;
        case "pcs4":
          location.replace("/pixel-craft/season-4/");
          break;
        case "pixel-craft-season-3":
          location.replace("/pixel-craft/season-3/");
          break;
        case "pcs3":
          location.replace("/pixel-craft/season-3/");
          break;
        case "pixel-craft-season-2":
          location.replace("/pixel-craft/season-2/");
          break;
        case "pcs2":
          location.replace("/pixel-craft/season-2/");
          break;
        case "pixel-craft-season-1":
          location.replace("/pixel-craft/season-1/");
          break;
        case "pcs1":
          location.replace("/pixel-craft/season-1/");
          break;
        //Pixel Modded Links.
        case "pixel-modded-map":
          location.replace("/pixel-modded/map/");
          break;
        case "pmmap":
          location.replace("/pixel-modded/map/");
          break;
        case "pixel-modded-season-4":
          location.replace("/pixel-modded/season-4/");
          break;
        case "pms4":
          location.replace("/pixel-modded/season-4/");
          break;
        case "pixel-modded-season-3":
          location.replace("/pixel-modded/season-3/");
          break;
        case "pms3":
          location.replace("/pixel-modded/season-3/");
          break;
        case "pixel-modded-season-2":
          location.replace("/pixel-modded/season-2/");
          break;
        case "pms2":
          location.replace("/pixel-modded/season-2/");
          break;
        case "pixel-modded-season-1":
          location.replace("/pixel-modded/season-1/");
          break;
        case "pms1":
          location.replace("/pixel-modded/season-1/");
          break;
        //Miscellaneous Links.
        case "home":
          location.replace("/");
          break;
        case "main":
          location.replace("/");
          break;
        case "root":
          location.replace("/");
          break;
        case "members":
          location.replace("/members/");
          break;
        case "member":
          location.replace("/members/");
          break;
        case "peoples":
          location.replace("/members/");
          break;
        case "people":
          location.replace("/members/");
          break;
        case "users":
          location.replace("/members/");
          break;
        case "user":
          location.replace("/members/");
          break;
        case "join-request":
          location.replace("/join-request/");
          break;
        case "join":
          location.replace("/join-request/");
          break;
        //Default if the hash does not match.
        default:
          location.replace("/");
      }
    }
  }
</script>