---
import Layout from '../../../../../../../layouts/Generic.astro';
import List from '../../../../../../../components/seasons/RecipeWorkingLists.astro';
---

<Layout title='Red Dildo - Toys - zackman1291 - Players - Custom Items - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/custom-items/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Red Dildo</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/custom-items/players/zackman1291/toys/red_dildo.png" alt="An image of the recipe for the Red Dildo.">
        <p>This is what is required for the Red Dildo recipe.</p>
        <div class="row justify-content-center">
          <List
          item1="1x Red Wool"
          item2="1x Sea Pickle"
          item3="1x Red Wool"
          item4="1x Red Wool"
          item5="1x Candle"
          item6="1x Red Wool"
          item7="1x Slimeball"
          item8="1x Chain"
          item9="1x Slimeball"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>