---
import Layout from '../../../../../layouts/Generic.astro';
import List from '../../../../../components/seasons/RecipeWorkingLists.astro';
---

<Layout title='Blackberry Caipirinha - Drinks - Custom Items - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/custom-items/' id='NXdxA' slug='PCS6-CI-D-Blackberry-Caipirinha'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Blackberry Caipirinha</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/custom-items/drinks/blackberry_caipirinha.png" alt="An image of the recipe for the Blackberry Caipirinha.">
        <p>This is what is required for the Blackberry Caipirinha recipe.</p>
        <div class="row justify-content-center">
          <List
            item1="1x Glass Bottle"
            item2="1x Poisonous Potato"
            item3="1x Sweet Berries"
            item4="1x Apple"
            item5="Empty"
            item6="Empty"
            item7="Empty"
            item8="Empty"
            item9="Empty"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>