---
import Layout from '../../../../../layouts/Generic.astro';
import List from '../../../../../components/seasons/RecipeWorkingLists.astro';
---

<Layout title='Tiger Milk - Drinks - Custom Items - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/custom-items/' id='xTbbq' slug='PCS6-CI-D-Tiger-Milk'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Tiger Milk</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/custom-items/drinks/tiger_milk.png" alt="An image of the recipe for the Tiger Milk.">
        <p>This is what is required for the Tiger Milk recipe.</p>
        <div class="row justify-content-center">
          <List
            item1="1x Glass Bottle"
            item2="1x Sugar"
            item3="1x Bucket of Milk"
            item4="1x Beetroot"
            item5="Empty"
            item6="Empty"
            item7="Empty"
            item8="Empty"
            item9="Empty"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>