---
export interface Props {
	desc: string;
    alt: string;
	img: string;
	href: string;
}

const { href, desc, img, alt } = Astro.props;
---

<div class="col">
    <a class="internal-links" href={href}><img class="heads" src={img} alt={alt}/></a>
    <p>{desc}</p>
</div>

<style>
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    
    .internal-links {
        color: rgba(9, 62, 123, 0.696);
        text-decoration: none;
    }
    .internal-links:hover {
        color: rgb(9, 62, 123);
    }
</style>
