---
export interface Props {
	img: string;
	name: string;
    href: string;
}

const { name, img, href } = Astro.props;
---

<div class="col">
    <h3>{name}</h3>
    <a class="body-link" href={href} target="_blank">
        <img class="bodys" src={img} alt="An image of the person's Minecraft character provided by mc-heads.net"/>
    </a>
</div>

<style>
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .bodys {
        width: 69%;
        height: auto;
    }
    .body-link {
        color: aqua;
        text-decoration: none;
    }
</style>
