<nav class="navigation-panel">
  <ul class="navigation-bar navigation-wraper">
    <li class="navigation-space">
      <a class="navigation-link" href="/"><img class="navigation-image" src="/images/icons/pixelseries.png" alt="The Pixel Series Logo" title="Click to head to the Home Page."></a>
    </li>
    <li class="navigation-spacer navigation-wraper-box"></li>
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/members/">Members</a>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/join-request/">Join Request</a>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <p class="navigation-category">Pixel Craft</p>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/pixel-craft/map/">Web Map</a>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/pixel-craft/season-6/">Season 6</a>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/pixel-craft/season-5/">Season 5</a>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/pixel-craft/season-4/">Season 4</a>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/pixel-craft/season-3/">Season 3</a>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/pixel-craft/season-2/">Season 2</a>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/pixel-craft/season-1/">Season 1</a>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <p class="navigation-category">Pixel Modded</p>
    </li>
    <!--li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/pixel-modded/map/">Web Map</a>
    </li-->
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/pixel-modded/season-4/">Season 4</a>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/pixel-modded/season-3/">Season 3</a>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/pixel-modded/season-2/">Season 2</a>
    </li>
    <li class="navigation-space navigation-wraper-box">
      <a class="navigation-link" href="/pixel-modded/season-1/">Season 1</a>
    </li>
    <li class="navigation-spacer navigation-wraper-box"></li>
  </ul>
</nav>

<style>
  .navigation-panel {
    position: fixed;
    top: 0em;
    bottom: 0em;
    left: 0em;
    width: 13em;
    background: rgb(32, 28, 28);
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
  }
  .navigation-bar {
    list-style: none;
    font-size: 20px;
    margin-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .navigation-image {
    width: 8em;
    height: auto;
  }
  .navigation-link {
    color: white;
    text-decoration: none;
  }
  .navigation-link:hover {
    color: rgb(70, 33, 151);
  }
  .navigation-space {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
  }
  .navigation-space:first-child {
    margin-top: 0em;
  }
  .navigation-spacer {
    border: 3px;
    border-style: double;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom-color: white;
  }
  .navigation-category {
    margin: 0em;
    background: transparent;
    font-size: x-large;
    color: white;
    border: 3px;
    border-style: double;
    border-left: 0px;
    border-right: 0px;
    border-top-color: white;
    border-bottom-color: white;
  }
  .navigation-wraper-box {
    transition: .2s all;
  }
  .navigation-wraper:hover > .navigation-wraper-box {
    /*filter: blur(3px);*/
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
  }
  .navigation-wraper:hover > .navigation-wraper-box:hover {
    /*filter: blur(0px);*/
    opacity: 1;
    transform: scale(1);
  }
</style>