---
export interface Props {
    alt: string;
	img: string;
	href: string;
}

const { href, img, alt } = Astro.props;
---

<a class="social-links" href={href} target="_blank">
    <img class="logos" src={img} alt={alt}/>
</a>

<style>
    .logos {
        width: 7.77%;
        height: auto;
    }
    .social-links {
        margin-left: 0.5em;
        margin-right: 0.5em;
        color: aqua;
        text-decoration: none;
    }
    .social-links:first-child {
        margin-left: 0em;
    }
    .social-links:last-child {
        margin-right: 0em;
    }
</style>
