---
import Layout from '../../../../../layouts/Generic.astro';
import List from '../../../../../components/seasons/ItemLists.astro';
---

<Layout title='Roof Barrel - Master Concrete - Item Combinations - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/item-combinations/master-concrete/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Master Concrete Roof Barrel</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/item-combinations/master-concrete/roof_barrel.png" alt="An image of the contents of the Roof Barrel for the Master Concrete.">
        <p>This is what is required for the Roof Barrel in the Master Concrete item. A text list of what is in the Roof Barrel.</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="1x Phantom Membrane"
            item2="1x Prismrine Shard"
            item3="1x Redstone"
            item4="1x Prismrine Shard"
            item5="1x Phantom Membrane"
            item6="1x Prismrine Shard"
            item7="1x Redstone"
            item8="1x Prismrine Shard"
            item9="1x Phantom Membrane"
          />
          <List
            title='Middle Row'
            item1="1x Fermented Spider Eye"
            item2="1x Nether Wart"
            item3="1x Amethyst Shard"
            item4="1x Nether Wart"
            item5="1x Fermented Spider Eye"
            item6="1x Nether Wart"
            item7="1x Amethyst Shard"
            item8="1x Nether Wart"
            item9="1x Fermented Spider Eye"
          />
          <List
            title='Bottom Row'
            item1="1x Phantom Membrane"
            item2="1x Prismrine Shard"
            item3="1x Redstone"
            item4="1x Prismrine Shard"
            item5="1x Phantom Membrane"
            item6="1x Prismrine Shard"
            item7="1x Redstone"
            item8="1x Prismrine Shard"
            item9="1x Phantom Membrane"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>