---
import Layout from '../../../../../layouts/Layout.astro';
import Navigation from '../../../../../components/Navigation.astro';
import Footer from '../../../../../components/Footer.astro';
import ItemLists from '../../../../../components/ItemLists.astro';
---

<Layout title="Roof Barrel - Master Concrete - Item Combinations - Season #6 - Pixel Craft - Pixel Series">
    <Navigation/>
	<main class="container justify-content-center text-center space-bottom">
        <div class="row justify-content-center">
            <h1 class="primary-title">Pixel Craft Season #6</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col info text-center">
                <h2>Master Concrete Roof Barrel</h2>
                <div class="col justify-content-center">
                    <img src="/images/pixel-craft/season-6/item-combinations/master-concrete/roof_barrel.png" alt="An image of the contents of the Roof Barrel for the Master Concrete."/>
                    <p>This is what is required for the Roof Barrel in the Master Concrete item. A text list of what is in the Roof Barrel.</p>
                    <div class="row justify-content-center">
                        <ItemLists
                            title="Top Row"
                            item1="1x Phantom Membrane"
                            item2="1x Prismrine Shard"
                            item3="1x Redstone"
                            item4="1x Prismrine Shard"
                            item5="1x Phantom Membrane"
                            item6="1x Prismrine Shard"
                            item7="1x Redstone"
                            item8="1x Prismrine Shard"
                            item9="1x Phantom Membrane"
                        />
                        <ItemLists
                            title="Middle Row"
                            item1="1x Fermented Spider Eye"
                            item2="1x Nether Wart"
                            item3="1x Amethyst Shard"
                            item4="1x Nether Wart"
                            item5="1x Fermented Spider Eye"
                            item6="1x Nether Wart"
                            item7="1x Amethyst Shard"
                            item8="1x Nether Wart"
                            item9="1x Fermented Spider Eye"
                        />
                        <ItemLists
                            title="Bottom Row"
                            item1="1x Phantom Membrane"
                            item2="1x Prismrine Shard"
                            item3="1x Redstone"
                            item4="1x Prismrine Shard"
                            item5="1x Phantom Membrane"
                            item6="1x Prismrine Shard"
                            item7="1x Redstone"
                            item8="1x Prismrine Shard"
                            item9="1x Phantom Membrane"
                        />
                    </div>
                </div>
            </div>
        </div>
	</main>
    <Footer/>
</Layout>

<style>
    .container {
        position: absolute;
        left: 12em;
        top: 0em;
        right: 0em;
        color: white;
        font-size: large;
    }
    .justify-content-center {
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .text-center {
        text-align: center!important;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .info {
        border: 3px;
        border-color: lightslategray;
        border-style: inset;
        border-radius: 25px;
        font-size: large;
        padding: 10px;
        margin: 5px;
        background-color: rgba(51, 51, 51, 0.5);
    }
    .space-bottom {
        padding-bottom: 3em;
    }
    .primary-title {
        border: 3px;
        border-color: lightslategray;
        border-style: groove;
        border-radius: 25px;
        padding: 10px;
        background-color: rgba(51, 51, 51, 0.5);
    }
</style>
