---
import Layout from '../../../../../layouts/Generic.astro';
import List from '../../../../../components/seasons/ItemLists.astro';
---

<Layout title='Floor Barrel - XP Bottles - Item Combinations - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/item-combinations/xp-bottles/' id='5s3hs' slug='PCS6-IC-XPB-Floor-Barrel'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>XP Bottles Floor Barrel</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/item-combinations/xp-bottles/floor_barrel.png" alt="An image of the contents of the Floor Barrel for the XP Bottles.">
        <p>This is what is required for the Floor Barrel in the XP Bottles item. A text list of what is in the Floor Barrel.</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="Empty"
            item2="Empty"
            item3="Empty"
            item4="Empty"
            item5="1x Ender Pearl"
            item6="Empty"
            item7="Empty"
            item8="Empty"
            item9="Empty"
          />
          <List
            title='Middle Row'
            item1="Empty"
            item2="Empty"
            item3="1x Glass Bottle"
            item4="1x Blaze Powder"
            item5="1x Glistering Melon"
            item6="1x Blaze Powder"
            item7="1x Glass Bottle"
            item8="Empty"
            item9="Empty"
          />
          <List
            title='Bottom Row'
            item1="Empty"
            item2="1x Ender Pearl"
            item3="1x Nether Wart"
            item4="1x Nether Wart"
            item5="1x Nether Wart"
            item6="1x Nether Wart"
            item7="1x Nether Wart"
            item8="1x Ender Pearl"
            item9="Empty"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>