---
import Layout from '../../../../../layouts/Generic.astro';
import List from '../../../../../components/seasons/ItemLists.astro';
---

<Layout title='Yellow Shulker Box - XP Bottles - Item Combinations - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/item-combinations/xp-bottles/' id='aVF2u' slug='PCS6-IC-XPB-Yellow-Shulker-Box'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>XP Bottles Yellow Shulker Box</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/item-combinations/xp-bottles/yellow_shulker_box.png" alt="An image of the contents of the Yellow Shulker Box for the XP Bottles.">
        <p>This is what is required for the Yellow Shulker Box in the XP Bottles item. A text list of what is in the Yellow Shulker Box.</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="Empty"
            item2="Empty"
            item3="1x Spider Eye"
            item4="1x Spider Eye"
            item5="1x Blaze Power"
            item6="1x Gunpowder"
            item7="1x Gunpowder"
            item8="Empty"
            item9="Empty"
          />
          <List
            title='Middle Row'
            item1="Empty"
            item2="Empty"
            item3="Empty"
            item4="1x Blaze Powder"
            item5="1x Glistering Melon"
            item6="1x Blaze Powder"
            item7="Empty"
            item8="Empty"
            item9="Empty"
          />
          <List
            title='Bottom Row'
            item1="Empty"
            item2="Empty"
            item3="1x Rotten Flesh"
            item4="1x Rotten Flesh"
            item5="1x Blaze Powder"
            item6="1x Bone"
            item7="1x Bone"
            item8="Empty"
            item9="Empty"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>