---
import Layout from '../../../../layouts/Generic.astro';
import Costs from '../../../../components/seasons/BuildCost.astro';
---

<Layout title='Unconfigured Map Art Portal Blueprint - Build Plates - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/build-plates/' id='TW1aY' slug='PCS6-BP-Unconfigured-Map-Art-Portal-Blueprint'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Unconfigured Map Art Portal Blueprint Build Plate</h2>
      <p>To create the Unconfigured Map Art Portal Blueprint item for the Personal Map Art Portal item.<br/>This build will need to be built in side of the Build Plate on the Unlock Isles.</p>
      <div class="col justify-content-center">
        <img id="UseTheBaseLink" title="ZzEyOXdPNlVtNUhVTm14eQ==" class="build" src="/images/pixel-craft/season-6/build-plates/unconfigured-map-art-portal-blueprint/build.png" alt="An image of the build to make the Unconfigured Map Art Portal Blueprint.">
        <h3>Build Cost</h3>
        <div class="row justify-content-center">
          <Costs>
            <li>3x Stone Pressure Plate</li>
            <li>4x Mangrove Sign</li>
            <li>6x Lantern</li>
            <li>6x Deepslate Tiles</li>
            <li>6x Deepslate Brick Wall</li>
            <li>6x Deepslate Brick Slab</li>
            <li>10x Chiseled Deepslate</li>
            <li>18x Reinforced Deepslate</li>
            <li>19x Deepslate Bricks</li>
            <li>28x Deepslate Brick Stairs</li>
            <li>32x Deepslate Tile Stairs</li>
          </Costs>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }

.build {
  width: 50%;
  height: auto;
  border: 3px;
  border-style: double;
  border-color: gray;
  border-radius: 33px;
}
</style>