---
import Layout from '../../../../../layouts/Generic.astro';
---

<Layout title='Scribing Table - Utilities - Custom Items - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/custom-items/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Scribing Table</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/custom-items/utilities/scribing_table.png" alt="An image of the recipe for the Scribing Table.">
        <p>This is what is required for the Scribing Table recipe.</p>
        <div class="row justify-content-center">
          <p>All you need to do to make a Scribing Table is aquire a Book and Quill and place a Bookshelf then throw the Book and Quill ontop of the Bookshelf and boom you now have a Scribing Table.</p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }

  img {
    width: 75%;
    height: auto;
  }
</style>