---
import Layout from '../../../../../layouts/Generic.astro';
---

<Layout title='Working Table - Utilities - Custom Items - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/custom-items/' id='F2GEm' slug='PCS6-CI-U-Working-Table'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Working Table</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/custom-items/utilities/working_table.png" alt="An image of the recipe for the Working Table.">
        <p>This is what is required for the Working Table recipe.</p>
        <div class="row justify-content-center">
          <p>All you need to do to make a Working Table is aquire a Stone Pickaxe and place a Crafting Table then throw the Stone Pickaxe ontop of the Crafting Table and boom you now have a Working Table.</p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }

  img {
    width: 75%;
    height: auto;
  }
</style>