---
import Layout from '../../../../../layouts/Generic.astro';
import List from '../../../../../components/seasons/RecipeWorkingLists.astro';
---

<Layout title='Diamond from Minecoin - Miscellaneous - Custom Items - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/custom-items/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Diamond from Minecoin</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/custom-items/miscellaneous/diamond_from_minecoin.png" alt="An image of the recipe for the Diamond from Minecoin.">
        <p>This is what is required for the Diamond from  Minecoin recipe.</p>
        <div class="row justify-content-center">
          <List
          item1="Empty"
          item2="Empty"
          item3="Empty"
          item4="Empty"
          item5="1x Minecoin"
          item6="Empty"
          item7="Empty"
          item8="Empty"
          item9="Empty"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>