---
import Layout from '../../../../../../layouts/Generic.astro';
---

<Layout title='Radio - Voice Chat - Utilities - Custom Items - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/custom-items/' id='ZGNUm' slug='PCS6-CI-U-VC-Radio'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Radio</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/custom-items/utilities/voice-chat/radio_command.png" alt="An image of the recipe for the Radio.">
        <p>This is what is required for the Radio recipe.</p>
        <div class="row justify-content-center">
          <p>To make a custom radio all you need to do is run the above command but replace the blue text with what ever MP3 Stream URL you want, and then replace the yellow text with what you want to call this station in game.<br>To activate the radio you place in down and right click on it, give it a second to fetch the stream and boom you can listen to the radio while within a 48 block radius.<br>This is a recommended resource to find a radio if you don't have one already <a href="https://streamurl.link/" target="_blank">https://streamurl.link/</a></p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }

  img {
    width: 75%;
    height: auto;
  }
  a {
    color: aqua;
    text-decoration: none;
  }
  a:hover {
    color: aquamarine;
  }
</style>