---
import Layout from '../../../../../../layouts/Generic.astro';
---

<Layout title='Wiretap & Microphone - Voice Chat - Utilities - Custom Items - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/custom-items/'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Wiretap & Microphone</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/custom-items/utilities/voice-chat/wiretap_microphone.png" alt="An image of the recipe for the Wiretap & Microphone.">
        <p>This is what is required for the Wiretap & Microphone recipe.</p>
        <div class="row justify-content-center">
          <p>All you need to do is make a Calibrated Sculk Sensor and have 1 level to rename it in an Anvil to "wiretap" (this is not case-sensitive) and then take the microphone out and you will recieve the speaker in your inventory.<br>It is recommended that you have at lest 2 empty inventory slots when crafting this.<br>To use these just place the Microphone down where you want to listen in on and the speaker where you want to listen from, the 2 ends both have a radius of 32 blocks and once placed are always live.</p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>