---
import Layout from '../../../../../layouts/Generic.astro';
import List from '../../../../../components/seasons/ItemLists.astro';
---

<Layout title='Red Shulker Box - Heart of the Sea - Item Combinations - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/item-combinations/heart-of-the-sea/' id='zF4TJ' slug='PCS6-IC-HOTS-Red-Shulker-Box'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Heart of the Sea Red Shulker Box</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/item-combinations/heart-of-the-sea/red_shulker_box.png" alt="An image of the contents of the Red Shulker Box for the Heart of the Sea.">
        <p>This is what is required for the Red Shulker Box in the Heart of the Sea item. A text list of what is in the Red Shulker Box.</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="1x Prismarine Crystals"
            item2="1x Prismarine Crystals"
            item3="1x Prismarine Crystals"
            item4="1x Prismarine Crystals"
            item5="1x Prismarine Crystals"
            item6="1x Prismarine Shard"
            item7="1x Prismarine Shard"
            item8="1x Prismarine Shard"
            item9="1x Prismarine Shard"
          />
          <List
            title='Middle Row'
            item1="1x Sea Pickle"
            item2="1x Ink Sac"
            item3="1x Kelp"
            item4="1x Prismarine Shard"
            item5="1x Water Bucket"
            item6="1x Prismarine Shard"
            item7="1x Kelp"
            item8="1x Ink Sac"
            item9="1x Sea Pickle"
          />
          <List
            title='Bottom Row'
            item1="1x Prismarine Shard"
            item2="1x Prismarine Shard"
            item3="1x Prismarine Shard"
            item4="1x Prismarine Shard"
            item5="1x Prismarine Crystals"
            item6="1x Prismarine Crystals"
            item7="1x Prismarine Crystals"
            item8="1x Prismarine Crystals"
            item9="1x Prismarine Crystals"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>