---
import Layout from '../../../../../layouts/Generic.astro';
import List from '../../../../../components/seasons/ItemLists.astro';
---

<Layout title='Roof Barrel - Heart of the Sea - Item Combinations - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/item-combinations/heart-of-the-sea/' id='GcWk6' slug='PCS6-IC-HOTS-Roof-Barrel'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Heart of the Sea Roof Barrel</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/item-combinations/heart-of-the-sea/roof_barrel.png" alt="An image of the contents of the Roof Barrel for the Heart of the Sea.">
        <p>This is what is required for the Roof Barrel in the Heart of the Sea item. A text list of what is in the Roof Barrel.</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="1x Raw Cod"
            item2="1x Tropical Fish"
            item3="1x Raw Salmon"
            item4="1x Tropical Fish"
            item5="1x Raw Salmon"
            item6="1x Tropical Fish"
            item7="1x Raw Salmon"
            item8="1x Tropical Fish"
            item9="1x Raw Cod"
          />
          <List
            title='Middle Row'
            item1="1x Pufferfish"
            item2="1x Raw Cod"
            item3="1x Pufferfish"
            item4="1x Raw Cod"
            item5="1x Pufferfish"
            item6="1x Raw Cod"
            item7="1x Pufferfish"
            item8="1x Raw Cod"
            item9="1x Pufferfish"
          />
          <List
            title='Bottom Row'
            item1="1x Raw Cod"
            item2="1x Tropical Fish"
            item3="1x Raw Salmon"
            item4="1x Tropical Fish"
            item5="1x Raw Salmon"
            item6="1x Tropical Fish"
            item7="1x Raw Salmon"
            item8="1x Tropical Fish"
            item9="1x Raw Cod"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>