---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/icons/pixelseries.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark pixel-craft-season-6">
        <button id="themeBtn" title="Switch Theme"><img src="/images/icons/theme.png" alt="The Theme Icon Button"/></button>
		<slot />
	</body>
</html>

<script defer>
    const themeButton = document.getElementById("themeBtn");
    const body = document.body;
    const theme = localStorage.getItem('theme');
    var currentTheme = theme;
    if(theme){
        body.classList.add(theme);
    }
    themeButton.onclick = () => {
        if(currentTheme === "light") {
            body.classList.replace('light', 'dark');
            localStorage.setItem('theme', 'dark');
            currentTheme = 'dark';
        } else {
            body.classList.replace('dark', 'light');
            localStorage.setItem('theme', 'light');
            currentTheme = 'light';
        }
    }
</script>

<style is:global>
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #353232;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 500px;
        background: hsl(0, 1%, 28%);
    }
    ::-webkit-scrollbar-thumb:hover {
        background: hsl(0, 0%, 53%);
    }

    .pixel-craft-season-6 {
        --background-dark: url(/images/backgrounds/pixel-craft/season-6/dark.png);
        --background-light: url(/images/backgrounds/pixel-craft/season-6/light.png);
    }

    .pixel-craft-season-5 {
        --background-dark: url(/images/backgrounds/pixel-craft/season-5/dark.png);
        --background-light: url(/images/backgrounds/pixel-craft/season-5/light.png);
    }

    .pixel-craft-season-4 {
        --background-dark: url(/images/backgrounds/pixel-craft/season-4/light.png);
        --background-light: url(/images/backgrounds/pixel-craft/season-4/light.png);
    }

    .dark {
        --background: var(--background-dark);
    }

    .light {
        --background: var(--background-light);
    }

	body {
		background: var(--background);
        background-size: cover;
        background-attachment: fixed;
        background-color: black;
	}

    #themeBtn {
        position: fixed;
        bottom: 0.25rem;
        right: 0.25rem;
        z-index: 98;
        cursor: pointer;
        font-size: 18px;
        background-color: transparent;
        border: none;
    }
    #themeBtn > img {
        width: 1.5rem;
        height: 1.5rem;
    }
</style>
