---
import Layout from '../../../../../layouts/Generic.astro';
import List from '../../../../../components/seasons/ItemLists.astro';
---

<Layout title='Orange Shulker Box - Lapis Transmutation - Item Combinations - Season #6 - Pixel Craft - Pixel Series' backPage='/pixel-craft/season-6/item-combinations/lapis-transmutation/' id='N5o79' slug='PCS6-IC-LT-Orange-Shulker-Box'>
  <div class="row justify-content-center">
    <h1 class="primary-title">Pixel Craft Season #6</h1>
  </div>
  <div class="col justify-content-center">
    <div class="col info text-center">
      <h2>Lapis Transmutation Orange Shulker Box</h2>
      <div class="col justify-content-center">
        <img src="/images/pixel-craft/season-6/item-combinations/lapis-transmutation/orange_shulker_box.png" alt="An image of the contents of the Orange Shulker Box for the Lapis Transmutation.">
        <p>This is what is required for the Orange Shulker Box in the Lapis Transmutation item. A text list of what is in the Orange Shulker Box.</p>
        <div class="row justify-content-center">
          <List
            title='Top Row'
            item1="1x Copper Ingot"
            item2="Empty"
            item3="Empty"
            item4="1x Copper Ingot"
            item5="1x Copper Ingot"
            item6="1x Copper Ingot"
            item7="Empty"
            item8="Empty"
            item9="1x Copper Ingot"
          />
          <List
            title='Middle Row'
            item1="1x Copper Ingot"
            item2="Empty"
            item3="1x Block of Copper"
            item4="Empty"
            item5="1x Block of Copper"
            item6="Empty"
            item7="1x Block of Copper"
            item8="Empty"
            item9="1x Copper Ingot"
          />
          <List
            title='Bottom Row'
            item1="1x Copper Ingot"
            item2="Empty"
            item3="Empty"
            item4="1x Copper Ingot"
            item5="1x Copper Ingot"
            item6="1x Copper Ingot"
            item7="Empty"
            item8="Empty"
            item9="1x Copper Ingot"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .primary-title {
    border: 3px;
    border-color: lightslategray;
    border-style: groove;
    border-radius: 25px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info {
    border: 3px;
    border-color: lightslategray;
    border-style: inset;
    border-radius: 25px;
    font-size: large;
    padding: 10px;
    margin: 5px;
    background: rgba(51, 51, 51, 0.5);
  }
  .info:last-child {
    margin-bottom: 3em;
  }
</style>