body {
    margin: 0;
    padding: 0;
    background: url(/assets/images/maps/vanilla/shop-prices/season-4/wizard-lizard-gizard/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: sticky;
    top: 0;
}
  
header ul li {
    float: left;
}
  
header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
header ul li a:hover {
    background-color: #111;
}

header ul li:active {
    background-color: white;
    color: black;
}


.box {
    width: 1000px;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.library {
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.book {
    display: inline-block;
    list-style: none;
    margin-left: 50%;
    margin-right: 50%;
    margin: 20px;
    width: 30%;
    padding: 5px;
    color: white;
    background: rgba(0,0,0, 0.5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5 {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
    text-align: center;
}
